<ng-container *ngIf="loading; else notLoading">
    <div class="flex flex-row items-center justify-center h-full">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>

<ng-template #notLoading>
    <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4 mb-4">
        <ng-container *ngFor="let work of works.docs | paginate: {itemsPerPage: works.limit, currentPage: pageNum, totalItems: works.totalDocs}">
            <dragonfish-work-card [content]="work" [showAuthor]="true"></dragonfish-work-card>
        </ng-container>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
</ng-template>
