<ng-container *ngIf="viewQuery.state$ | async as content">
    <div class="content-box shadow-2xl mb-6">
        <dragonfish-rating-icon [rating]="content.currContent.meta.rating" [size]="'large'"></dragonfish-rating-icon>
        <div class='w-11/12 mx-auto'>
            <div class="flex flex-col py-4">
                <div class='flex flex-row items-center border-b border-white'>
                    <div>
                        <h2 class='text-white text-4xl font-medium hover:cursor-pointer'>
                            <ng-container *ngIf="content.currContent.kind === contentKind.PoetryContent">
                                <a 
                                    class='text-white hover:text-white'
                                    [routerLink]="['/poetry', content.currContent._id, content.currContent.title | slugify]"
                                >
                                    {{ content.currContent.title }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="content.currContent.kind === contentKind.ProseContent">
                                <a 
                                    class='text-white hover:text-white'
                                    [routerLink]="['/prose', content.currContent._id, content.currContent.title | slugify]"
                                >
                                    {{ content.currContent.title }}
                                </a>
                            </ng-container>
                            <span class='ml-0.5 font-normal text-base'>
                                by
                                <a
                                    class='text-white hover:text-white'
                                    [routerLink]="[
                                        '/portfolio',
                                        content.currContent.author._id,
                                        content.currContent.author.username | slugify,
                                    ]"
                                >
                                    {{ content.currContent.author.username }}
                                </a>
                            </span>
                        </h2>
                        <div class="flex flex-row items-center uppercase text-sm">
                            <ng-container [ngSwitch]="content.currContent.kind">
                                <ng-container *ngSwitchCase="content.currContent.kind === contentKind.PoetryContent">
                                    <div class="tag" title='Poetry'>
                                        <i-feather name="feather" class="kind"></i-feather>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="content.currContent.kind === contentKind.ProseContent">
                                    <div class="tag" title='Prose'>
                                        <i-feather name="book-open" class="kind"></i-feather>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <div class="tag" title='Prose'>
                                        <i-feather name="book-open" class="kind"></i-feather>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <div class="mx-1"><!--spacer--></div>
                            <div class="tag">{{ $any(content.currContent.meta).category }}</div>
                            <div class="separator">//</div>
                            <div class="tag">{{ $any(content.currContent.meta).genres | separateGenres }}</div>
                        </div>
                        <ng-container *ngIf="content.currContent.tags !== null && content.currContent.tags.length > 0">
                            <div class="content-tags flex flex-row items-center uppercase text-sm">
                                <span class="tag tags">
                                    <ng-container *ngFor="let tag of content.currContent.tags; let i = index">   
                                        <a [routerLink]="['/tag', tag._id, tag.name | slugify]">
                                            {{ tag | displayTags }}
                                        </a>
                                        <ng-container *ngIf="i < content.currContent.tags.length - 1">
                                            , 
                                        </ng-container>
                                    </ng-container>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                    <div class='flex-1'><!--spacer--></div>
                    <dragonfish-content-approval
                        [content]="content.currContent"
                        [currRating]="viewQuery.currRating"
                        [ratingsDoc]="viewQuery.ratingsDoc$ | async"
                        [likes]="viewQuery.likes"
                        [dislikes]="viewQuery.dislikes"
                    ></dragonfish-content-approval>
                </div>
                <div class="flex-1 p-4">
                    <img
                        [alt]="'Cover Art'"
                        [src]="$any(content.currContent.meta).coverArt"
                        class="cover-art float-left m-4"
                        *ngIf="$any(content.currContent.meta).coverArt"
                    >
                    <ng-container [ngSwitch]="content.currContent.kind">
                        <ng-container *ngSwitchCase="content.currContent.kind === contentKind.PoetryContent">
                            <ng-container *ngIf="$any(content.currContent.meta).collection; else singlePoemDesc">
                                <div class="html-description accented-content-box" [innerHtml]="content.currContent.body | safeHtml"></div>
                            </ng-container>
                            <ng-template #singlePoemDesc>
                                <div class="html-description accented-content-box" [innerHTML]="content.currContent.desc | safeHtml"></div>
                            </ng-template>
                        </ng-container>
                        <ng-container *ngSwitchCase="content.currContent.kind === contentKind.ProseContent">
                            <div class="html-description accented-content-box" [innerHTML]="content.currContent.body | safeHtml"></div>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <div class="html-description accented-content-box" [innerHtml]="content.currContent.body | safeHtml"></div>
                        </ng-container>
                    </ng-container>
                </div>
                <ng-content></ng-content>
                <div class="view-stats flex flex-row items-center justify-end">
                    <div class="tag" title='Comments'>
                        <i-feather name="message-circle"></i-feather>{{ content.currContent.stats.comments | abbreviate }}
                    </div>
                    <div class="separator">//</div>
                    <div class="tag" title='Views'>
                        <i-feather name="bar-chart-2"></i-feather>{{ content.currContent.stats.views | abbreviate }}
                    </div>
                    <div class="separator">//</div>
                    <div class="tag" title='Words'>
                        <i-feather name="pen-tool"></i-feather>{{ content.currContent.stats.words | abbreviate }}
                    </div>
                    <div class="separator">//</div>
                    <div class="tag" title='Published On'>
                        <i-feather name="calendar"></i-feather>{{ content.currContent.audit.publishedOn | localedate: 'mediumDate' }}
                    </div>
                    <div class="separator">//</div>
                    <div class="tag" title='Status'>{{ contentStatus[$any(content.currContent.meta).status] }}</div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
