div.content-box {
    border: 1px solid var(--borders);
    div.tags {
        border-bottom: 1px solid var(--borders);
    }
    div.tag {
        text-transform: lowercase;
        font-variant: small-caps;
        font-size: 1.25rem;
        letter-spacing: 0.05em;
    }
    div.separator {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
    .kind {
        position: relative;
        width: 1.25rem;
        color: var(--text-color);
        top: 0.375rem;
    }
    div.view-stats {
        width: 100%;
        div.tag {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 0.75rem;
            text-transform: uppercase;
            i-feather {
                width: 0.875rem;
                position: relative;
                top: 0.25rem;
                margin-right: 0.25rem;
            }
        }
    }
}
