div.tools {
    border: 1px solid var(--site-borders);
    border-radius: 4px;
    width: 100%;
    margin: 0 auto 2rem auto;
}

div.collection-page-header {
    width: 100%;
    div.coll-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        h2 {
            flex: 1;
            margin: 0;
        }

        div.coll-tools {
            button.tool {
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 0;

                i-feather {
                    width: 16px;
                    height: 16px;
                    position: relative;
                    top: 0.3rem;
                    margin-right: 0.5rem;
                }

                &.left {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &.end {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-left: 0;
                }
            }
        }
    }

    div.coll-desc {
        border-top: 1px solid var(--site-borders);
        border-bottom: 1px solid var(--site-borders);
        padding: 5px 10px;
        font-style: italic;
    }
}

div.content-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
    width: 95%;
    margin: 2rem auto 2rem auto;
}