<div class="p-3.5 flex flex-col mt-6">
    <div class="flex items-center">
        <h1 class="text-3xl font-medium flex-1">Select Profile</h1>
        <ng-container *ngIf="canHaveFivePseuds(sessionQuery.currAccount.roles); else onlyThreePseuds">
            <span class="italic mr-2">{{ pseudQuery.numPseuds }} out of 5</span>
            <button><rmx-icon name="add-box-line"></rmx-icon>Add Profile</button>
        </ng-container>
        <ng-template #onlyThreePseuds>
            <span class="italic">{{ pseudQuery.numPseuds }} out of 3. Want more? Become a VIP.</span>
            <button><rmx-icon name="add-box-line"></rmx-icon>Add Profile</button>
        </ng-template>
    </div>
    <div class="flex items-center justify-center overflow-x-auto">
        <ng-container *ngIf="pseudQuery.all$ | async as pseudonyms">
            <ng-container *ngIf="pseudonyms.length !== 0">
                <div
                    class="user-card rounded-md w-64 relative"
                    *ngFor="let user of pseudonyms" (click)="selectPseud(user._id)"
                    [ngClass]="{ 'active': pseudQuery.currentId === user._id }">
                    <div
                        class="absolute z-20 top-0 right-0 rounded-tr-md rounded-bl-md text-white border-l border-b border-white"
                        *ngIf="pseudQuery.currentId === user._id"
                        style="background: var(--accent);"
                    >
                        <rmx-icon name="check-line"></rmx-icon>
                    </div>
                    <div
                        class="cover-pic absolute blur z-10 w-full h-20 top-0 left-0 rounded-md pointer-events-none overflow-hidden"
                        [ngClass]="user.profile.coverPic ? '' : 'has-accent'"
                    >
                        <img
                            class="object-cover object-top object-center w-full h-full"
                            [src]="user.profile.coverPic"
                            *ngIf="user.profile.coverPic"
                        />
                    </div>
                    <div class="user-header p-1.5 relative z-20 mt-8">
                        <div class="flex flex-row items-center">
                            <div class="user-avatar">
                                <img [src]="user.profile.avatar" />
                            </div>
                            <div class="ml-2">
                                <h2 class="text-xl font-medium">
                                    {{ user.screenName }}
                                </h2>
                                <h3 class="text-xs font-medium">
                                    @{{ user.userTag }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="stats flex flex-row items-center justify-center">
                        <div
                            class="flex flex-row items-center select-none cursor-default"
                            [matTooltip]="'Works'"
                            [matTooltipClass]="'offprint-tooltip'"
                            [matTooltipShowDelay]="600"
                        >
                            <rmx-icon name="quill-pen-line"></rmx-icon>
                            <span class="select-none">{{ user.stats.works | abbreviate }}</span>
                        </div>
                        <div class="mx-1 select-none cursor-default">|</div>
                        <div
                            class="flex flex-row items-center select-none cursor-default"
                            [matTooltip]="'Blogs'"
                            [matTooltipClass]="'offprint-tooltip'"
                            [matTooltipShowDelay]="600"
                        >
                            <rmx-icon name="cup-line"></rmx-icon>
                            <span class="select-none">{{ user.stats.blogs | abbreviate }}</span>
                        </div>
                        <div class="mx-1 select-none cursor-default">|</div>
                        <div
                            class="flex flex-row items-center select-none cursor-default"
                            [matTooltip]="'Followers'"
                            [matTooltipClass]="'offprint-tooltip'"
                            [matTooltipShowDelay]="600"
                        >
                            <rmx-icon name="eye-line"></rmx-icon>
                            <span class="select-none">{{ user.stats.followers | abbreviate }}</span>
                        </div>
                    </div>
                    <div class="my-1"></div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="canHaveFivePseuds(sessionQuery.currAccount.roles); else hasOnlyThree">
            <ng-container *ngIf="pseudQuery.numPseuds !== 5">
                <div class="profile-box" [routerLink]="['/registration/setup-pseud']" (mouseenter)="deselectPseud()">
                    <span class="text-4xl font-extralight">+</span>
                    <span>Add</span>
                    <span>Profile</span>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #hasOnlyThree>
            <ng-container *ngIf="pseudQuery.numPseuds !== 3">
                <div class="profile-box" [routerLink]="['/registration/setup-pseud']">
                    <span class="text-4xl font-extralight">+</span>
                    <span>Add</span>
                    <span>Profile</span>
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>
