<p>Hello, and welcome to the Offprint Alpha!</p>

<p>We’re glad you decided to come along on this journey with us, and we hope your experiences and personal touch can make the website better for everyone as we work to improve, iterate, and expand the website throughout this Alpha period.</p>

<p>So, without further ado, your code!</p>

<p>{{ inviteCode }}</p>

<p>To use it, go to <a href="https://offprint.net/">https://offprint.net</a> and hit the Log In button in the upper left corner. Then, enter this code in the Invite Code field when you go to make your account.</p>

<p>We hope to see you there!</p>

<p>&mdashYour Friendly Neighborhood Beatriz</p>
