<nav class="mobile">
    <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser; else noUserLogInMobile">
        <ng-container *ngIf="sidenavService.isOpened; else notOpenedMobile">
            <a class="link active close-avatar" (click)="sidenavService.toggle()">
                <span class="link-icon"><rmx-icon name="close-line"></rmx-icon></span>
            </a>
        </ng-container>
        <ng-template #notOpenedMobile>
            <a
                class="link avatar"
                (click)="sidenavService.toggle()"
            >
                <img class="avatar" [src]="currentUser.profile.avatar" [alt]="'Avatar'" />
            </a>
        </ng-template>
    </ng-container>
    <ng-template #noUserLogInMobile>
        <ng-container *ngIf="sidenavService.isOpened; else notOpenedMobileLogin">
            <a class="link active" (click)="sidenavService.toggle()">
                <span class="link-icon"><rmx-icon name="close-line"></rmx-icon></span>
            </a>
        </ng-container>
        <ng-template #notOpenedMobileLogin>
            <a
                class="link"
                [matTooltip]="'Log In'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
                (click)="sidenavService.toggle()"
            >
                <span class="link-icon"><rmx-icon name="login-circle-line"></rmx-icon></span>
            </a>
        </ng-template>
    </ng-template>
    <ng-container *ngIf="sidenavService.isOpened; else noSidenavMobile">
        <a class="link">
            <span class="link-icon"><rmx-icon name="home-5-line"></rmx-icon></span>
        </a>
        <a class="link">
            <span class="link-icon"><rmx-icon name="compass-3-line"></rmx-icon></span>
        </a>
        <a class="link">
            <span class="link-icon"><rmx-icon name="group-line"></rmx-icon></span>
        </a>
        <a class="link">
            <span class="link-icon"><rmx-icon name="more-2-line"></rmx-icon></span>
        </a>
    </ng-container>
    <ng-template #noSidenavMobile>
        <a
            class="link"
            [routerLink]="['/']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [matTooltip]="'Home'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="home-5-line"></rmx-icon></span>
        </a>
        <a
            class="link"
            [routerLink]="['/browse']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Browse'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="compass-3-line"></rmx-icon></span>
        </a>
        <a
            class="link"
            [routerLink]="['/social']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Social'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="group-line"></rmx-icon></span>
        </a>
        <a
            class="link"
            [routerLink]="['/docs']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'More'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="more-2-line"></rmx-icon></span>
        </a>
    </ng-template>
</nav>

<nav class="desktop h-full relative top-auto left-0 flex flex-col shadow-2xl py-2 z-50">
    <div class="py-3" style="-webkit-app-region: drag" *ngIf="electron.isElectronApp">
        <!--spacer-->
    </div>
    <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser; else noUserLogIn">
        <ng-container *ngIf="sidenavService.isOpened; else notOpened">
            <a class="link active close-avatar" (click)="sidenavService.toggle()">
                <span class="link-icon"><rmx-icon name="close-line"></rmx-icon></span>
            </a>
        </ng-container>
        <ng-template #notOpened>
            <a
                class="link avatar"
                (click)="sidenavService.toggle()"
            >
                <img class="avatar" [src]="currentUser.profile.avatar" [alt]="'Avatar'" />
            </a>
        </ng-template>
    </ng-container>
    <ng-template #noUserLogIn>
        <ng-container *ngIf="sidenavService.isOpened; else notOpenedLogin">
            <a class="link active" (click)="sidenavService.toggle()">
                <span class="link-icon"><rmx-icon name="close-line"></rmx-icon></span>
            </a>
        </ng-container>
        <ng-template #notOpenedLogin>
            <a
                class="link"
                [matTooltip]="'Log In'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
                (click)="sidenavService.toggle()"
            >
                <span class="link-icon"><rmx-icon name="login-circle-line"></rmx-icon></span>
            </a>
        </ng-template>
    </ng-template>
    <ng-container *ngIf="sidenavService.isOpened; else noSidenav">
        <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser">
            <a class="link">
                <span class="link-icon"><rmx-icon name="hard-drive-2-line"></rmx-icon></span>
            </a>
            <a class="link">
                <span class="link-icon"><rmx-icon name="chat-smile-3-line"></rmx-icon></span>
            </a>
        </ng-container>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <a class="link">
            <span class="link-icon"><rmx-icon name="home-5-line"></rmx-icon></span>
        </a>
        <a class="link">
            <span class="link-icon"><rmx-icon name="compass-3-line"></rmx-icon></span>
        </a>
        <a class="link">
            <span class="link-icon"><rmx-icon name="group-line"></rmx-icon></span>
        </a>
        <div class="flex-1"><!--spacer--></div>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser">
            <ng-container *ngIf="canSeeDash(currentUser.audit.roles)">
                <a class="link">
                    <span class="link-icon"><rmx-icon name="dashboard-line"></rmx-icon></span>
                </a>
            </ng-container>
        </ng-container>
        <a class="link">
            <span class="link-icon"><rmx-icon name="more-2-line"></rmx-icon></span>
        </a>
    </ng-container>
    <ng-template #noSidenav>
        <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser">
            <a
                class="link"
                [routerLink]="['/my-stuff']"
                [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                [matTooltip]="'My Stuff'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <span class="link-icon"><rmx-icon name="hard-drive-2-line"></rmx-icon></span>
            </a>
            <a
                class="link"
                [routerLink]="['/messages']"
                [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                [matTooltip]="'Messages'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <span class="link-icon"><rmx-icon name="chat-smile-3-line"></rmx-icon></span>
            </a>
        </ng-container>
        <div class="my-2.5 border-b border-white mx-2"></div>
        <a
            class="link"
            [routerLink]="['/']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [matTooltip]="'Home'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="home-5-line"></rmx-icon></span>
        </a>
        <a
            class="link"
            [routerLink]="['/browse']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Browse'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="compass-3-line"></rmx-icon></span>
        </a>
        <a
            class="link"
            [routerLink]="['/social']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Social'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="group-line"></rmx-icon></span>
        </a>
        <div class="flex-1"><!--spacer--></div>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser">
            <ng-container *ngIf="canSeeDash(currentUser.audit.roles)">
                <a
                    class="link"
                    [routerLink]="['/dashboard']"
                    [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                    [matTooltip]="'Dashboard'"
                    [matTooltipPosition]="'right'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <span class="link-icon"><rmx-icon name="dashboard-line"></rmx-icon></span>
                </a>
            </ng-container>
        </ng-container>
        <a
            class="link"
            [routerLink]="['/docs']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'More'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><rmx-icon name="more-2-line"></rmx-icon></span>
        </a>
    </ng-template>
</nav>
