nav {
    z-index: 50;
    background: var(--accent-dark);

    button.link {
        border: none;
        padding: 15px 20px;
        text-transform: none;
        font-variant: normal;
        color: whitesmoke;
        border-radius: 0;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
            background: var(--accent);
        }

        &.avatar {
            padding: 10px 12px;
        }

        i-feather {
            width: 28px !important;
            stroke-width: 1;
            position: relative !important;
            top: -0.125rem;
        }
    }

    a.link {
        color: whitesmoke;
        padding: 15px 26px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            transition: 0.125s;
            color: whitesmoke;
            background: var(--accent);
            text-decoration: none;
            cursor: pointer;
        }

        &.avatar {
            padding: 15px 17px;
        }

        &.close-avatar {
            padding: 17.5px 17px;
        }

        &.active {
            background: var(--accent);
            box-shadow: var(--dropshadow);
            @apply z-20;
        }

        span.link-icon {
            position: relative;
            left: -0.05rem;
            top: 0.15rem;
            i-feather {
                width: 26px;
                stroke-width: 1;
            }
        }

        img.avatar {
            position: relative;
            max-width: 35px;
            border: 1px solid whitesmoke;
            border-radius: 0.375rem;
        }
    }
}
