nav {
    z-index: 50;
    background: var(--accent-dark);
    button.link {
      border: none;
      padding: 10px 15px;
      text-transform: none;
      font-variant: normal;
      color: whitesmoke;
      border-radius: 0;
      box-shadow: none;
      &:hover {
        background: var(--accent);
      }
        &.avatar {
            padding: 10px 12px;
        }
      i-feather {
          width: 28px;
          stroke-width: 1;
          position: relative;
          right: 0.125rem;
      }
      img.avatar {
        position: relative;
        max-width: 28px;
          left: 0.05rem;
        border: 1px solid whitesmoke;
        border-radius: 50%;
      }
    }
    a.link {
      color: whitesmoke;
      padding: 15px 20px;
      border-left: 4px solid transparent;
      &:hover {
        transition: 0.125s;
        color: whitesmoke;
        background: var(--accent);
        text-decoration: none;
      }
      &.active {
        border-left-color: var(--accent);
      }
      &.avatar {
        padding: 10px 12px;
      }
      span.link-icon {
          position: relative;
          right: 0.2rem;
          top: 0.2rem;
        i-feather {
            width: 26px;
            stroke-width: 1;
        }
      }
      img.avatar {
        position: relative;
        left: 0.1rem;
        max-width: 35px;
        border: 1px solid whitesmoke;
        border-radius: 50%;
      }
    }
  }
