<nav class="h-full relative top-auto left-0 flex flex-col shadow-2xl py-2 z-50">
    <div class="py-3" style="-webkit-app-region: drag" *ngIf="electron.isElectronApp">
        <!--spacer-->
    </div>
    <ng-container *ngIf="currentUser$ | async as currentUser; else noUserLogIn">
        <ng-container *ngIf="sidenavService.isOpened; else notOpened">
            <a class="link active close-avatar" (click)="sidenavService.toggle()">
                <span class="link-icon"><i-feather name="x"></i-feather></span>
            </a>
        </ng-container>
        <ng-template #notOpened>
            <a
                class="link avatar"
                (click)="sidenavService.toggle()"
            >
                <img class="avatar" [src]="currentUser.profile.avatar" [alt]="'Avatar'" />
            </a>
        </ng-template>
    </ng-container>
    <ng-template #noUserLogIn>
        <button
            class="link"
            [matTooltip]="'Log In'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
            (click)="openAuthModal()"
        >
            <span class="link-icon"><i-feather name="log-in"></i-feather></span>
        </button>
    </ng-template>
    <ng-container *ngIf="sidenavService.isOpened; else noSidenav">
        <ng-container *ngIf="currentUser$ | async as currentUser">
            <a class="link">
                <span class="link-icon"><i-feather name="hard-drive"></i-feather></span>
            </a>
            <a class="link">
                <span class="link-icon"><i-feather name="message-circle"></i-feather></span>
            </a>
        </ng-container>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <a class="link">
            <span class="link-icon"><i-feather name="home"></i-feather></span>
        </a>
        <a class="link">
            <span class="link-icon"><i-feather name="map"></i-feather></span>
        </a>
        <a class="link">
            <span class="link-icon"><i-feather name="users"></i-feather></span>
        </a>
        <div class="flex-1"><!--spacer--></div>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <ng-container *ngIf="currentUser$ | async as currentUser">
            <ng-container *ngIf="canSeeDash(currentUser.roles)">
                <a class="link">
                    <span class="link-icon"><i-feather name="grid"></i-feather></span>
                </a>
            </ng-container>
        </ng-container>
        <a class="link">
            <span class="link-icon"><i-feather name="more-vertical" style="stroke-width: 2"></i-feather></span>
        </a>
    </ng-container>
    <ng-template #noSidenav>
        <ng-container *ngIf="currentUser$ | async as currentUser">
            <a
                class="link"
                [routerLink]="['/my-stuff']"
                [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                [matTooltip]="'My Stuff'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <span class="link-icon"><i-feather name="hard-drive"></i-feather></span>
            </a>
            <a
                class="link"
                [routerLink]="['/messages']"
                [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                [matTooltip]="'Messages'"
                [matTooltipPosition]="'right'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <span class="link-icon"><i-feather name="message-circle"></i-feather></span>
            </a>
        </ng-container>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <a
            class="link"
            [routerLink]="['/']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            [matTooltip]="'Home'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><i-feather name="home"></i-feather></span>
        </a>
        <a
            class="link"
            [routerLink]="['/browse']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Browse'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><i-feather name="map"></i-feather></span>
        </a>
        <a
            class="link"
            [routerLink]="['/social']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'Social'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><i-feather name="users"></i-feather></span>
        </a>
        <div class="flex-1"><!--spacer--></div>
        <div class="my-2.5 border-b border-white mx-2"><!--spacer--></div>
        <ng-container *ngIf="currentUser$ | async as currentUser">
            <ng-container *ngIf="canSeeDash(currentUser.roles)">
                <a
                    class="link"
                    [routerLink]="['/dashboard']"
                    [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
                    [matTooltip]="'Dashboard'"
                    [matTooltipPosition]="'right'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <span class="link-icon"><i-feather name="grid"></i-feather></span>
                </a>
            </ng-container>
        </ng-container>
        <a
            class="link"
            [routerLink]="['/docs']"
            [routerLinkActive]="sidenavService.isOpened ? '' : 'active'"
            [matTooltip]="'More'"
            [matTooltipPosition]="'right'"
            [matTooltipClass]="'offprint-tooltip'"
        >
            <span class="link-icon"><i-feather name="more-vertical" style="stroke-width: 2"></i-feather></span>
        </a>
    </ng-template>
</nav>
