<ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser; else login">
    <div class="sidenav flex flex-col h-full relative">
        <div class="sticky top-0 shadow-2xl z-40">
            <div class="header flex flex-row items-center p-6 pl-3 pb-0">
                <img [src]="currentUser.profile.avatar" class="avatar rounded-md border border-white shadow-lg mr-2.5">
                <div class="user-header" [routerLink]="['/portfolio', currentUser._id, currentUser.username | slugify]">
                    <h3 class="text-4xl text-white font-medium">{{ currentUser.username }}</h3>
                    <h4 class="text-sm text-white">{{ currentUser.profile.tagline }}</h4>
                </div>
                <div class="flex-1"><!--spacer--></div>
                <button
                    class="border-none rounded-full shadow-none text-white p-2.5"
                    [ngClass]="moreMenuOpened ? 'active': ''"
                    [matMenuTriggerFor]="moreMenu"
                    (menuOpened)="toggleMoreMenu()"
                    (menuClosed)="toggleMoreMenu()"
                >
                    <rmx-icon name="more-2-line" class="mr-0"></rmx-icon>
                </button>
            </div>
            <div class="tab-bar flex flex-row items-center justify-center">
                <div
                    class="tab select-none"
                    [ngClass]="selectedTab === userTabs.Friends ? 'active' : ''"
                    (click)="switchUserTab(userTabs.Friends)"
                >
                    <rmx-icon name="group-line" class="mr-1"></rmx-icon>
                    <div class="text-sm">Friends</div>
                </div>
                <div
                    class="tab select-none"
                    [ngClass]="selectedTab === userTabs.Notifications ? 'active' : ''"
                    (click)="switchUserTab(userTabs.Notifications)"
                >
                    <rmx-icon name="notification-3-line" class="mr-1"></rmx-icon>
                    <div class="text-sm">Notifications</div>
                </div>
                <div
                    class="tab select-none"
                    [ngClass]="selectedTab === userTabs.History ? 'active' : ''"
                    (click)="switchUserTab(userTabs.History)"
                >
                    <rmx-icon name="history-line" class="mr-1"></rmx-icon>
                    <div class="text-sm">History</div>
                </div>
            </div>
        </div>
        <div class="body flex-1 h-full mb-4">
            <ng-container [ngSwitch]="selectedTab">
                <ng-container *ngSwitchCase="userTabs.Friends">
                    <dragonfish-friends-list></dragonfish-friends-list>
                </ng-container>
                <ng-container *ngSwitchCase="userTabs.History">
                    <dragonfish-history-feed></dragonfish-history-feed>
                </ng-container>
                <ng-container *ngSwitchCase="userTabs.Notifications">
                    <dragonfish-notifications></dragonfish-notifications>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <mat-menu #moreMenu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="['/portfolio', currentUser._id, currentUser.username | slugify]">
            <rmx-icon name="user-line"></rmx-icon>
            Portfolio
        </button>
        <button mat-menu-item [routerLink]="['/docs']">
            <rmx-icon name="settings-5-line"></rmx-icon>
            Settings
        </button>
        <div class="my-1.5 border-b" style="border-color: var(--borders)"><!--spacer--></div>
        <button mat-menu-item (click)="logout()">
            <rmx-icon name="logout-circle-line"></rmx-icon>
            Log Out
        </button>
    </mat-menu>
</ng-container>

<ng-template #login>
    <div class="sidenav flex flex-col h-full relative">
        <div class="sticky top-0 shadow-2xl z-40">
            <div class="header flex flex-row items-center p-4 pl-3 pb-2.5">
                <div class="user-header no-hover">
                    <h3 class="text-3xl text-white font-medium relative top-1.5">Welcome!</h3>
                </div>
                <div class="flex-1"><!--spacer--></div>
                <div
                    class="tab select-none"
                    [ngClass]="selectedAuthTab === authTabs.Login ? 'active' : ''"
                    (click)="switchAuthTab(authTabs.Login)"
                >
                    <rmx-icon name="login-circle-line" class="mr-1 text-white"></rmx-icon>
                    <div class="text-sm text-white">Log In</div>
                </div>
                <div
                    class="tab select-none"
                    [ngClass]="selectedAuthTab === authTabs.Register ? 'active' : ''"
                    (click)="switchAuthTab(authTabs.Register)"
                >
                    <rmx-icon name="user-add-line" class="mr-1 text-white"></rmx-icon>
                    <div class="text-sm text-white">Register</div>
                </div>
            </div>
        </div>
        <div class="body flex-1 h-full mb-4 mx-3.5">
            <ng-container [ngSwitch]="selectedAuthTab">
                <ng-container *ngSwitchCase="authTabs.Login">
                    <dragonfish-login-form (isSuccess)="closeSidenav($event)"></dragonfish-login-form>
                </ng-container>
                <ng-container *ngSwitchCase="authTabs.Register">
                    <dragonfish-register-form (isSuccess)="closeSidenav($event)"></dragonfish-register-form>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>
