div.sidenav {
    min-width: 24rem;
    background: var(--background);
    color: var(--text-color);
    div.header {
        background: var(--accent);
        img.avatar {
            max-width: 4rem;
        }
        button {
            &:hover {
                background: var(--accent-light);
            }
        }
    }
}
