<ng-container *ngIf="currentUser$ | async as currentUser">
    <div class="sidenav flex flex-col text-white h-full">
        <div class="header flex flex-row items-center p-6 pl-3">
            <div>
                <h3 class="text-4xl text-white font-medium">{{ currentUser.username }}</h3>
                <h4 class="text-sm text-white">{{ currentUser.profile.bio }}</h4>
            </div>
            <div class="flex-1"><!--spacer--></div>
            <button
                class="border-none rounded-full shadow-none text-white"
                [matTooltip]="'Friends'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <i-feather name="users" class="mr-0"></i-feather>
            </button>
            <div class="mx-0.5"><!--spacer--></div>
            <button
                class="border-none rounded-full shadow-none text-white"
                [routerLink]="['/docs']"
                [matTooltip]="'Settings'"
                [matTooltipClass]="'offprint-tooltip'"
            >
                <i-feather name="settings" class="mr-0"></i-feather>
            </button>
        </div>
        <div class="flex-1 h-full mb-4">
            <dragonfish-notifications></dragonfish-notifications>
        </div>
        <div class="self-center flex flex-row items-center mb-6">
            <button class="shadow-none" [routerLink]="['/portfolio', currentUser._id, currentUser.username | slugify]">
                <i-feather name="user"></i-feather>
                Portfolio
            </button>
            <div class="mx-2"><!--spacer--></div>
            <button class="shadow-none" (click)="logout()">
                <i-feather name="log-out"></i-feather>
                Log Out
            </button>
        </div>
    </div>
</ng-container>
