div.portfolio-header {
    width: 95%;
    margin: 2.5rem auto 0 auto;
    border: 1px solid var(--site-borders);
    border-radius: 4px;
    box-shadow: var(--site-dropshadow);
    font-size: 0;
    background: var(--site-accent);

    @media (max-width: 1500px) {
        width: 95%;
        margin-top: 1.25rem;
    }

    @media (max-width: 700px) {
        width: 100%;
        border-radius: 0;
        margin-top: 1.25rem;
    }

    div.portfolio-user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        @media (max-width: 700px) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        div.port-avatar {
            padding: 1.25rem;
            text-align: center;
            @media (max-width: 700px) {
                padding: 0.25rem;
            }

            img {
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border: 1px solid whitesmoke;

                @media (max-width: 1150px) {
                    width: 150px;
                    height: 150px;
                }

                @media (max-width: 700px) {
                    width: 75px;
                    height: 75px;
                }
            }
        }

        div.port-user {
            flex: 1;
            margin-left: 0.25rem;
            h1.username {
                font-weight: 700;
                color: whitesmoke;
                margin: 0;

                @media (max-width: 1150px) {
                    font-size: 38px;
                }

                @media (max-width: 700px) {
                    font-size: 26px;
                }
            }

            h3.bio {
                font-weight: normal;
                font-style: italic;
                color: whitesmoke;
                font-size: 24px;
                margin: 0 0 0.75rem 0;

                @media (max-width: 1150px) {
                    font-size: 20px;
                }

                @media (max-width: 700px) {
                    font-size: 18px;
                }
            }
        }

        div.port-controls {
            margin-right: 1.25rem;

            &.mobile {
                display: none;
                align-self: flex-start;

                button.control {
                    border: none;
                    box-shadow: none;

                    &.solo {
                        box-shadow: none;
                    }
                }
            }

            @media (max-width: 700px) {
                display: none;

                &.mobile {
                    display: block;
                }
            }

            div.social-controls {
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: var(--site-dropshadow);
            }

            button.control {
                padding: 5px 10px;
                margin: 0;
                background-color: var(--site-accent);
                border: 1px solid whitesmoke;

                &:hover {
                    background-color: var(--site-accent-hover);
                }

                i-feather {
                    position: relative;
                    stroke-width: 1;
                    top: -0.1rem;
                    color: whitesmoke;
                }

                &.top {
                    border-bottom: 0;
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }

                &.mid {
                    border-bottom: 0;
                    border-radius: 0;
                }

                &.bottom {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }

                &.solo {
                    margin-top: 1rem;
                    box-shadow: var(--site-dropshadow);
                }
            }
        }
    }

    div.portfolio-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: linear-gradient(180deg, var(--site-accent-hover), var(--site-accent));
        font-size: 18px;

        @media (max-width: 1360px) {
            display: block;
            white-space: nowrap;
            overflow-x: scroll;
            scrollbar-width: none;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 15px;
            color: whitesmoke;

            @media (max-width: 1360px) {
                display: inline-block;
                font-size: 18px;
            }

            @media (max-width: 700px) {
                display: inline-block;
                padding: 6px 12px;
                font-size: 14px;
            }

            &:hover {
                transition: 0.125s;
                background: var(--site-accent-hover);
            }

            &.router-link-active {
                background-color: var(--site-accent);
                color: whitesmoke;

                &::before {
                    box-shadow: var(--site-dropshadow);
                    z-index: -1;
                }
            }

            span.link-icon {
                display: inline-block;
                margin-right: 0.75rem;
                i-feather {
                    position: relative;
                    height: 18px;
                    width: 18px;
                    top: 0.25rem;
                    stroke-width: 1;
                }

                @media (max-width: 640px) {
                    //--small
                    margin-right: 0.5rem;
                }

                @media (max-width: 481px) {
                    //--xsmall
                    margin-right: 0.25rem;
                }
            }
        }
    }
}

div.portfolio-body {
    margin: 2.5rem auto 0 auto;
    width: 95%;

    @media (max-width: 700px) {
        margin-top: 1.5rem;
        width: 95%;
    }
}
