<div class="form-container">
    <div class="form-header">
        <h3>Migrate {{ myBlog.title }}</h3>
        <button class="form-button" (click)="migrateBlog()">Save</button>
    </div>
    <form class="w-3/4 mx-auto" [formGroup]="migrateBlogForm" (ngSubmit)="migrateBlog()">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <dragonfish-text-field
                    [formControlName]="'title'"
                    [name]="'title'"
                    [type]="'text'"
                    [label]="'Title'"
                    [placeholder]="'There\'s Something I Gotta Say...'"
                ></dragonfish-text-field>
            </div>
            <div class="offprint-select">
                <label>Rating</label>
                <ng-select class="custom" [formControlName]="'rating'" [searchable]="false" [placeholder]="'Select a Rating'">
                    <ng-option *ngFor="let rating of ratings | keyvalue" [value]="rating.key">
                        {{ rating.value }}
                    </ng-option>
                </ng-select>
            </div>
        </div>

        <dragonfish-editor
            [parentForm]="migrateBlogForm"
            [controlName]="'body'"
            [minHeight]="'1000px'"
            [maxHeight]="'1000px'"
        ></dragonfish-editor>
    </form>
</div>
