/* Navigation Bar */

div.nav {
    width: 100%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    background-color: var(--site-accent);
    color: whitesmoke;
    border-bottom: 1px solid var(--site-borders);
    box-shadow: var(--site-dropshadow);
    z-index: 5;

    header {
        div.nav-box {
            display: flex;
            flex-direction: row;
            margin: 0 auto 0 auto;
            justify-content: space-between;
            align-items: center;
            max-width: 80%;

            div.user-menu {
                vertical-align: middle;

                img.user-menu-avatar {
                    max-width: 75px;
                    max-height: 75px;
                    object-fit: cover;
                    border: 1px solid whitesmoke;
                    border-radius: 50%;
                    font-size: 0;
                    vertical-align: middle;
                    cursor: pointer;
                }
                div.user-menu-dropdown {
                    color: whitesmoke;
                    display: inline;
                    border-bottom: 1px solid whitesmoke;
                    a.menu-icon {
                        color: whitesmoke;

                        &:hover {
                            color: var(--site-accent-hover);
                        }

                        i-feather {
                            margin-left: 1rem;
                            position: relative;
                            width: 20px;
                            height: 20px;
                            stroke-width: 1;
                        }
    
                        span.stat-counter {
                            position: relative;
                            top: -0.5rem;
                            margin-left: 0.5rem;
                            font-size: 20px;
                        }
                    }
                }

                button.login {
                    margin-bottom: 0;
                    background-color: var(--site-accent);
                    color: whitesmoke;
                    border: 1px solid whitesmoke;
                    box-shadow: none;
                    
                    &:hover {
                        background-color: var(--site-accent-hover);
                    }
                }
            }

            div.site-logo {
                position: relative;
                top: 1.5rem;
                left: -2rem;
                vertical-align: middle;
                text-align: center;
                flex: 1;
                font-size: 0;
                h1 {
                    color: whitesmoke;
                    font-size: 75px;
                    margin-bottom: 0;

                    a.offprint {
                        color: whitesmoke;
                        &:hover {
                            color: var(--site-accent-hover);
                        }
                    }
                }

                h2 {
                    color: whitesmoke;
                    position: relative;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-style: italic;
                    font-size: 20px;
                    top: -2.5rem;
                }
            }

            div.search-menu {
                vertical-align: middle;

                button.search {
                    margin-bottom: 0;
                    margin-bottom: 0;
                    background-color: var(--site-accent);
                    color: whitesmoke;
                    border: 1px solid whitesmoke;
                    box-shadow: none;

                    &:hover {
                        background-color: var(--site-accent-hover);
                    }
                }
            }
        }
    }
}

nav {
    display: block;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto 2rem auto;

    div.nav-items {
        border-bottom: 1px solid var(--site-borders);
        margin: 0 auto;
        a {
            color: var(--site-text-color);
            display: inline-block;
            font-size: 20px;
            padding: 5px 10px;
            &:hover {
                color: whitesmoke;
                background-color: var(--site-accent-hover);
            }
            &.router-link-active {
                background-color: var(--site-accent);
                color: whitesmoke;
            }

            span.link-icon {
                display: block;
                i-feather {
                    position: relative;
                    //color: var(--site-text-color);
                    height: 20px;
                    width: 20px;
                    top: 0.25rem;
                    stroke-width: 1;
                }
            }
        }
    }
}
  
/* Footer */
div.footer {
    width: 90%;
    border-top: 1px solid var(--site-borders);
    padding: 3rem;
    padding-bottom: 1rem;
    text-align: left !important;
    margin-top: 3rem;

    h1 {
        font-size: 28px;
        text-align: left;
        border-bottom: 1px solid var(--site-borders);
    }

    p, ul {
        text-align: left;
    }

    @media (max-width: 1000px) {
        width: 95%;
        padding: 0;
    }
}