<div class="main-stage">
  <div class="nav">
    <header>
      <div class="row">
        <div class="four columns" style="text-align: left;">
          <div *ngIf="currentUser; else signUp">
            <button class="login" (click)="openUserMenu()" #userMenu>Menu</button>
          </div>
          <ng-template #signUp>
            <button class="login" [routerLink]="['/register']" #userMenu>Join</button>
          </ng-template>
        </div>
        <div class="four columns">
          <h1><a>offprint</a></h1>
        </div>
        <div class="four columns">
          <button class="search" (click)="openSearchMenu()" #searchMenu>Search</button>
        </div>
      </div>
    </header>
    <nav>
      <div class="nav-items">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="">HOME</a>
        <a [routerLink]="['/browse']" routerLinkActive="router-link-active" class="inner-left">BROWSE</a>
        <a [routerLink]="['/portfolio', currentUser._id, currentUser.username | slugify]" routerLinkActive="router-link-active" *ngIf="currentUser" class="mid">PORTFOLIO</a>
        <a [routerLink]="['/groups']" routerLinkActive="router-link-active" class="inner-right">GROUPS</a>
        <a [routerLink]="['/news']" routerLinkActive="router-link-active" class="">NEWS</a>
      </div>
    </nav>
  </div>

  <alert></alert>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <div class="container footer">
    <footer>
      <div class="grid-container thirds">
        <div>
          <h1>Help</h1>
          <p> Here's some useful tips to get you started:</p>
          <ul>
            <li><a>Connect with Offprint</a></li>
            <li><a>The Offprint Omnibus</a></li>
            <li><a>Code of Conduct</a></li>
          </ul>
        </div>
        <div>
          <h1>About</h1>
          <p>
            We're a site dedicated to the cultivation of a community of writers 
            that help each other grow, get better, and just have fun.
          </p>
          <p>
            &copy;2020 Offprint Studios
          </p>
          <ul>
            <li><a>Terms of Service & Privacy Policy</a></li>
            <li><a>Open Source Licenses</a></li>
            <li><a>Site Staff</a></li>
          </ul>
        </div>
        <div>
          <h1>Statistics</h1>
          <p>
            Something useful will be here one day!
          </p>
        </div>
      </div>
    </footer>
  </div>
</div>