# Server info
PORT="3333"
SECRET_KEY="asecret"

# Database info
DATABASE_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD=
DATABASE_NAME="dragonfish"
DATABASE_URL="postgresql://postgres@localhost/dragonfish"
REDIS_URL="redis://localhost:6379"

# Storage bucket info
BUCKET_NAME=
BUCKET_ENDPOINT=
BUCKET_TOKEN=
BUCKET_SECRET=
BUCKET_ACCESS_KEY=

# Resend Mail Server info
SITE_BASE_URL="http://localhost:3000"
RESEND_API_KEY=
