/* Theming */

.crimson {
  --accent: rgb(205, 86, 84);
  --accent-dark: rgb(133, 56, 54);
  --accent-light: rgb(221, 142, 142);
  --accent-transparent: rgb(205, 86, 84, 0.2);
  @apply transition-all;
}

.aqua {
  --accent: rgb(98, 150, 209);
  --accent-dark: rgb(64, 98, 136);
  --accent-light: rgb(152, 187, 224);
  --accent-transparent: rgb(98, 150, 209, 0.2);
  @apply transition-all;
}

.royal {
  --accent: rgb(145, 82, 169);
  --accent-dark: rgb(95, 53, 110);
  --accent-light: rgb(183, 142, 198);
  --accent-transparent: rgb(145, 82, 169, 0.2);
  @apply transition-all;
}

.autumn {
  --accent: rgb(204, 118, 60);
  --accent-dark: rgb(133, 77, 38);
  --accent-light: rgb(222, 165, 123);
  --accent-transparent: rgb(204, 118, 60, 0.2);
  @apply transition-all;
}

.field {
  --accent: rgb(79, 126, 53);
  --accent-dark: rgb(50, 82, 34);
  --accent-light: rgb(137, 171, 121);
  --accent-transparent: rgb(79, 126, 53, 0.2);
  @apply transition-all;
}

.light {
  --background: rgb(251, 251, 251);
  --nav-background: rgb(236, 236, 236);
  --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --text-color: rgb(0, 0, 0);
  --borders: rgb(128, 128, 128);
  --code-background: rgb(211, 211, 211);
  --placeholder: rgba(127, 127, 127, 0.6);
  --select-bg: rgba(212, 212, 216, 1);
  @apply transition-all;
}

.dark {
  --background: rgb(39, 39, 39);
  --nav-background: rgb(47, 46, 46);
  --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  --text-color: rgb(245, 245, 245);
  --borders: rgb(255, 255, 255);
  --code-background: rgb(58, 58, 58);
  --placeholder: rgba(127, 127, 127, 0.6);
  --select-bg: rgba(63, 63, 70, 1);
  @apply transition-all;
}
