div.box {
    border-color: var(--borders);
}

div.header {
    border-color: var(--borders);
}

div.bordered {
    border-right: 1px solid var(--borders);
}

img.avatar {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid var(--site-borders);
    object-fit: cover;
    object-position: 50% 50%; // Determines the viewport position
    display: block;
    text-align: center;
}
