<div class="new-work-modal">
    <h1>Create a new work</h1>
    <hr>
    <form [formGroup]="newWorkForm" (ngSubmit)="submitWork()">
        <!--Title-->
        <label for="title">Title</label>
        <div class="warning-message" *ngIf="fields.title.invalid && (fields.title.dirty || fields.title.touched)">Titles must be between 3 and 100 characters.</div>
        <input name="title" type="text" class="u-full-width" placeholder="A whole new world" formControlName="title">

        <!--Short description-->
        <label for="shortDesc">Short Description</label>
        <div class="warning-message" *ngIf="fields.shortDesc.invalid && (fields.shortDesc.dirty || fields.shortDesc.touched)">Short descriptions must be between 3 and 250 characters</div>
        <input name="shortDesc" type="text" class="u-full-width" placeholder="A new fantastic point of view" formControlName="shortDesc">

        <!--Long description-->
        <label for="longDesc">Long Description</label>
        <div class="warning-message" *ngIf="fields.longDesc.invalid && (fields.longDesc.dirty || fields.longDesc.touched)">Long descriptions must be more than 3 characters.</div>
        <quill-editor minLength="3" formControlName="longDesc" (onEditorChanged)="triggerChangeDetection()" [modules]="editorModules">
            <div quill-editor-toolbar>
                <span class="ql-formats">
                    <button class="ql-bold" [title]="'Bold'"></button>
                    <button class="ql-italic" [title]="'Italic'"></button>
                    <button class="ql-underline" [title]="'Underline'"></button>
                    <button class="ql-strike" [title]="'Strikethrough'"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-divider" [title]="'Divider'"></button>
                    <button class="ql-link" [title]="'Link'"></button>
                    <button class="ql-blockquote" [title]="'Blockquote'"></button>
                    <button class="ql-code" [title]="'Code'"></button>
                    <button class="ql-clean" [title]="'Remove formatting'"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-align ql-center" value="center"></button>
                    <button class="ql-align ql-right" value="right"></button>
                    <button class="ql-align ql-justify" value="justify"></button>
                </span>
                <span class="ql-formats">
                    <button class="ql-list ql-bullet" value="bullet"></button>
                    <button class="ql-list ql-ordered" value="ordered"></button>
                </span>
                <select class="ql-header"></select>
            </div>
        </quill-editor>

        <!--Category-->
        <label for="category">Category</label>
        <ng-select [items]="categories | keyvalue"
                    bindLabel="value"
                    bindValue="key"
                    placeholder="Select one"
                    formControlName="thisCategory"
                    [searchable]="false"
                    class="custom"></ng-select>

        <!--Fandom-->
        <div *ngIf="isFanfiction()">
            <label>Fandoms (Up to 5)</label>
            <ng-select [items]="fandoms | keyvalue"
                        bindLabel="value"
                        bindValue="key"
                        [multiple]="true"
                        maxSelectedItems="5"
                        placeholder="Select fandoms"
                        clearAllText="Clear"
                        formControlName="theseFandoms"
                        class="custom"></ng-select>
        </div>

        <!--Genres for Fiction-->
        <div *ngIf="isFiction()">
            <label>Genres (Up to 2)</label>
            <ng-select [items]="genresFiction | keyvalue"
                        bindLabel="value"
                        bindValue="key"
                        [multiple]="true"
                        maxSelectedItems="2"
                        placeholder="Select genres"
                        clearAllText="Clear"
                        formControlName="theseGenres"
                        [searchable]="false"
                        class="custom"></ng-select>
        </div>

        <!--Genres for Poetry-->
        <div *ngIf="isPoetry()">
            <label>Genres</label>
            <ng-select [items]="genresPoetry | keyvalue"
                        bindLabel="value"
                        bindValue="key"
                        placeholder="Select genre"
                        clearAllText="Clear"
                        formControlName="theseGenres"
                        [searchable]="false"
                        class="custom"></ng-select>
        </div>

        <div class="row">
            <div class="six columns">
                <label>Content Rating</label>
                <ng-select [items]="rating | keyvalue"
                            bindLabel="value"
                            bindValue="key"
                            placeholder="Select rating"
                            clearAllText="Clear"
                            formControlName="rating"
                            [searchable]="false"
                            class="custom"></ng-select>
            </div>
            <div class="six columns">
                <label>Status</label>
                <ng-select [items]="status | keyvalue"
                            bindLabel="value"
                            bindValue="key"
                            placeholder="Select status"
                            clearAllText="Clear"
                            formControlName="status"
                            [searchable]="false"
                            class="custom"></ng-select>
            </div>
        </div>

        <div class="loader" *ngIf="loading">
            <div class="lds-dual-ring"></div>
        </div>
        <button class="work-modal-button" type="submit" *ngIf="!loading">Create Work</button>
        <button class="work-modal-button-cancel" type="button" (click)="askCancel()">Cancel</button>
    </form>
</div>