<form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <dragonfish-text-field
        [formControlName]="'email'"
        [name]="'email'"
        [type]="'email'"
        [label]="'Email Address'"
        [placeholder]="'someone@example.com'"
    ></dragonfish-text-field>

    <dragonfish-text-field
        [formControlName]="'username'"
        [name]="'username'"
        [type]="'text'"
        [label]="'Username'"
        [placeholder]="'Beatriz Ex Machina'"
    ></dragonfish-text-field>

    <dragonfish-text-field
        [formControlName]="'password'"
        [name]="'password'"
        [type]="'password'"
        [label]="'Password'"
        [placeholder]="'••••••••••'"
    ></dragonfish-text-field>

    <dragonfish-text-field
        [formControlName]="'repeatPassword'"
        [name]="'repeatPassword'"
        [type]="'password'"
        [label]="'Repeat Password'"
        [placeholder]="'••••••••••'"
    ></dragonfish-text-field>

    <dragonfish-text-field
        [formControlName]="'inviteCode'"
        [name]="'inviteCode'"
        [type]="'text'"
        [label]="'Invite Code'"
        [placeholder]="'myInviteCode'"
    ></dragonfish-text-field>

    <hr />

    <dragonfish-toggle [formControlName]="'termsAgree'">
        I agree to the Terms of Service,<br/>Privacy Policy, and Code of Conduct.
    </dragonfish-toggle>
    <dragonfish-toggle [formControlName]="'isMinAge'">
        I am at least thirteen years old.
    </dragonfish-toggle>

    <div class="flex flex-row justify-end">
        <button type="submit">Register</button>
    </div>
</form>
