<div class="auth-full flex flex-col items-center justify-center h-screen">
    <h3 class="absolute top-0 right-0 text-white p-2">ver. {{ siteVersion }}</h3>
    <div class="header rounded-md text-center w-11/12 mx-auto p-4 relative">
        <img class="offprint-logo" src="assets/images/logo.png" alt="offprint" />
        <h2>{{ rotatingSlogan }}</h2>
    </div>
    <div class="flex flex-row w-11/12 mx-auto">
        <div class="w-1/2 text-center">
            <img class="beatriz" src="assets/images/Beatriz.png" alt="Beatriz">
        </div>
        <div class="auth-forms rounded-md shadow-xl p-4 pt-2 w-1/2">
            <ngx-tabset [customNavClass]="'offprint-tabs-nav'" [customTabsClass]="'offprint-tabs'">
                <ngx-tab [tabTitle]="'Login'" [bypassDOM]="true">
                    <ng-template>
                        <dragonfish-login-form></dragonfish-login-form>
                    </ng-template>
                </ngx-tab>
                <ngx-tab [tabTitle]="'Register'" [bypassDOM]="true">
                    <ng-template>
                        <dragonfish-register-form></dragonfish-register-form>
                    </ng-template>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>
