<div class="short-work-card-container">
  <!-- Row 1: Title and author -->
  <div class="work-header">
    <h1><a [routerLink]="['/work', id, title | slugify]">{{ title }}</a></h1>
    <h2>by<a [routerLink]="['/work', authorId, author | slugify]">{{ author }}</a></h2>
  </div>

  <!-- Row 2: Cover art, 
        Category, Genre, Fandoms 
        Short description
    -->
  <div class="work-details">
    <img class="cover-art" *ngIf="meta.coverArt" [src]="meta.coverArt" />
    <div class="category-genre">{{meta | stringifyMeta}}</div>    
    <div class="short-description"> {{ shortDesc }} </div>
  </div>

  <!-- Row 3: Meta info -->
  <div class="meta-info">
    <i-feather name="calendar"></i-feather> {{ creationDate | date: 'shortDate'}}
    <span>//</span><i-feather name="eye"></i-feather> {{ views}}
    <span>//</span>{{ meta.status }}
    <span>//</span>{{ meta.rating }}
  </div>
</div>
