<ng-container *ngIf="viewQuery.state$ | async as state">
    <ng-container *ngIf="state.ratingsDoc as histData; else noHistory">
        <div class="approval-buttons">
            <ng-container [ngSwitch]="state.currRating">
                <ng-container *ngSwitchCase="ratingOption.NoVote">
                    <button (click)="viewService.addLike(state.currContent._id)">
                        <i-feather name="thumbs-up"></i-feather
                        ><span class="button-text">{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="mid" (click)="viewService.addDislike(state.currContent._id)">
                        <i-feather name="thumbs-down"></i-feather
                        ><span class="button-text">{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
                <ng-container *ngSwitchCase="ratingOption.Liked">
                    <button class="active" (click)="viewService.setNoVote(state.currContent._id)">
                        <i-feather name="thumbs-up"></i-feather
                        ><span class="button-text">{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="mid" (click)="viewService.addDislike(state.currContent._id)">
                        <i-feather name="thumbs-down"></i-feather
                        ><span class="button-text">{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
                <ng-container *ngSwitchCase="ratingOption.Disliked">
                    <button (click)="viewService.addLike(state.currContent._id)">
                        <i-feather name="thumbs-up"></i-feather
                        ><span class="button-text">{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="mid active" (click)="viewService.setNoVote(state.currContent._id)">
                        <i-feather name="thumbs-down"></i-feather
                        ><span class="button-text">{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
            </ng-container>
            <button class="end" [matMenuTriggerFor]="moreItems">
                <i-feather class="more" name="more-vertical"></i-feather>
            </button>
        </div>

        <mat-menu xPosition="before" #moreItems="matMenu">
            <ng-container
                *ngIf="state.currContent.kind === contentKind.ProseContent || state.currContent.kind === contentKind.PoetryContent"
            >
                <button mat-menu-item (click)="openAddToCollectionDialog(state.currContent)">
                    <i-feather name="folder-plus"></i-feather>Add to Collection
                </button>
            </ng-container>
            <button mat-menu-item><i-feather name="flag"></i-feather>Report</button>
        </mat-menu>
    </ng-container>
    <ng-template #noHistory>
        <div class="approval-buttons">
            <button>
                <i-feather name="thumbs-up"></i-feather
                ><span class="button-text">{{ state.likes | abbreviate }}</span>
            </button>
            <button class="mid">
                <i-feather name="thumbs-down"></i-feather
                ><span class="button-text">{{ state.dislikes | abbreviate }}</span>
            </button>
            <button class="end" [matMenuTriggerFor]="moreItemsNoUser">
                <i-feather class="more" name="more-vertical"></i-feather>
            </button>
        </div>

        <mat-menu xPosition="before" #moreItemsNoUser="matMenu">
            <button mat-menu-item>
                <i-feather name="folder-plus"></i-feather>Add to Collection
            </button>
            <button mat-menu-item><i-feather name="flag"></i-feather>Report</button>
        </mat-menu>
    </ng-template>
</ng-container>
