div.approval-buttons {
    display: flex;
    button {
        @apply shadow-none rounded-full border-none text-sm;
        margin: 0 0.1rem 0 0.1rem;
        &.active {
            background: var(--accent-light);
        }
        &:hover {
            background: var(--accent-light);
        }
        i-feather {
            position: relative;
            width: 1rem !important;
            color: white;
            margin: 0;
            top: 0.15rem;
            &.end-button {
                stroke-width: 1;
            }
        }
        span {
            color: white;
            font-weight: normal;
            position: relative;
            top: 0.15rem;
            margin-left: 0.25rem;
        }
    }
}
