<div class="browse-container">
    <div class="browse-header">
        <h2>Newly Added</h2>
    </div>
    <hr class="header-divider">
    <ng-container [ngSwitch]="loadingState">
        <div *ngSwitchCase="'notstarted'">
            Just a second...
        </div>
    
        <ng-container *ngSwitchCase="'success'">
            <div class="works-feed">
                <div style="margin: 0 auto 1rem auto;" *ngFor="let work of works">
                    <div class="work-container">
                        <!--Header-->
                        <div class="work-header">                            
                            <ng-container [ngSwitch]="work.meta.rating">
                                <img class="rating" src="assets/icons/teenIcon.svg" *ngSwitchCase="'Teen'">
                                <img class="rating" src="assets/icons/matureIcon.svg" *ngSwitchCase="'Mature'">
                                <img class="rating" src="assets/icons/explicitIcon.svg" *ngSwitchCase="'Explicit'">
                                <img class="rating" src="assets/icons/everyoneIcon.svg" *ngSwitchDefault>
                            </ng-container>
                            <h1><a [routerLink]="['/work', work._id, work.title | slugify]">{{ work.title }}</a></h1>                            
                            <h2>by <a [routerLink]="['/portfolio', work.author._id, work.author.username | slugify]">{{ work.author.username }}</a></h2>
                            <div class="category-genre">
                                {{ work.meta.category | fixCategories }}<span>//</span>{{ work.meta.genres | separateEntities:work.meta.category }}<ng-container *ngIf="work.meta.fandoms.length > 0"><span>//</span>{{ work.meta.fandoms | separateEntities }}</ng-container>
                            </div>
                        </div>

                        <!--Short description-->
                        <div class="short-description">
                            <div *ngIf="work.meta.coverArt">
                                <img class="cover-art bordered-cover-art" [src]="work.meta.coverArt">
                            </div>
                            <div>
                                {{ work.shortDesc }}
                            </div>
                        </div>

                        <!--Work stats-->
                        <div class="work-stats">
                            <i-feather name="calendar" title="Created At"></i-feather>{{ work.createdAt | date:'shortDate' }}<span>//</span>
                            <i-feather name="pen-tool" title="Words"></i-feather>{{ work.stats.totWords | toLocaleString }}<span>//</span>
                            <i-feather name="bar-chart-2" title="Views"></i-feather>{{ work.stats.views | toLocaleString }}<span>//</span>
                            <i-feather name="thumbs-up" title="Approval Rating"></i-feather>0%<span>//</span>
                            {{ work.meta.status }}
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        
        <div *ngSwitchCase="'loading'" class="loader">
            <div class="lds-dual-ring"></div>
        </div>    
    
        <div *ngSwitchCase="'failure'">
            Failed to retrieve list of stories.
        </div>
    </ng-container>

</div>
