<div class="collections-container">
    <div class="collections-header">
        <h2>Collections</h2>
    </div>
    <hr class="header-divider">
    
    <div class="loader" *ngIf="loading">
        <div class="lds-dual-ring"></div>
    </div>

    <ng-container *ngIf="!loading && portCollsData.length === 0">
        <div style="text-align: center; margin-top: 2rem;">
            <h3 style="margin-bottom: 0;">You haven't created any collections yet.</h3>
            <p style="margin-top: 0; margin-bottom: 0; font-style: italic;">Why not make your first one by hitting Add Collection button?</p>
        </div>
    </ng-container>
    <ng-container *ngIf="!loading && portCollsData.length > 0">
        <div class="collections-grid">
            <div class="collections-box" *ngFor="let collection of portCollsData">
                <div class="coll-header">
                    <div class="set-coll-visibility" *ngIf="currentUser && currentUserIsSame()">
                        <div class="submitter" *ngIf="submitting">
                            <div class="lds-dual-ring"></div>
                        </div>
                        <ng-container *ngIf="!submitting" [ngSwitch]="collection.audit.isPublic">
                            <a (click)="setPrivate(collection._id)" *ngSwitchCase="true"><i-feather name="check-circle"></i-feather></a>
                            <a (click)="setPublic(collection._id)" *ngSwitchDefault><i-feather name="circle"></i-feather></a>
                        </ng-container>
                    </div>
                    <div class="header">
                        <h3>{{ collection.name }}</h3>
                    </div>
                    <div class="delete-coll" *ngIf="currentUser && currentUserIsSame()">
                        <ng-container *ngIf="!submitting">
                            <a (click)="askDelete(collection._id)"><i-feather name="trash-2"></i-feather></a>
                        </ng-container>
                    </div>
                </div>
                <div class="coll-desc">
                    {{ collection.desc }}
                </div>
                <div class="coll-list">
                    <ng-container *ngIf="collection.details.length === 0; else displayWorks">
                        <div style="text-align: center; margin-top: 2rem;">
                            <h4 style="margin-bottom: 0; font-size: 18px;">You haven't added any works yet.</h4>
                            <p style="margin-top: 0; margin-bottom: 0; font-style: italic; font-size: 12px;">Head to any work page and click the Add to Collection button to get started!</p>
                        </div>
                    </ng-container>
                    <ng-template #displayWorks>
                        It's either null or undefined.
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div style="text-align: center; margin-top: 2rem;">
    <h3 style="margin-bottom: 0;">Pardon the dust!</h3>
    <p style="margin-top: 0; margin-bottom: 0; font-style: italic;">Looks like you came here a bit too early.</p>
    <p style="margin-top: 0; font-style: italic;">Keep an eye on the patch notes to find out when this feature will be available!</p>
</div>