<ng-container *ngIf="portUser$ | async as portUser">
    <div class="flex flex-row justify-center w-11/12 mx-auto my-6">
        <div class="p-4 w-48">
            <ng-container *ngIf="portUser.profile.bio">
                <h5 class="text-2xl font-medium text-center">About Me</h5>
                <p class="text-sm">{{ portUser.profile.bio }}</p>
            </ng-container>
        </div>
        <div class="mx-4"><!--spacer--></div>
        <ng-container *ngIf="loading; else notLoading">
            <div class="flex-1 h-72 flex flex-col items-center justify-center">
                <mat-spinner></mat-spinner>
            </div>
        </ng-container>
        <ng-template #notLoading>
            <div class="flex-1 max-w-lg">
                <div class="border-b mb-4" style="border-color: var(--borders)">
                    <h3 class="text-3xl font-medium">Latest Blogs</h3>
                </div>
                <ng-container *ngFor="let blog of blogs">
                    <dragonfish-blog-card [blog]="blog" [showAuthor]="false"></dragonfish-blog-card>
                    <div class="my-3.5"><!--spacer--></div>
                </ng-container>
            </div>
            <div class="mx-4"><!--spacer--></div>
            <div class="max-w-sm">
                <div class="border-b mb-4" style="border-color: var(--borders)">
                    <h3 class="text-3xl font-medium">Latest Works</h3>
                </div>
                <ng-container *ngFor="let work of works">
                    <dragonfish-work-card [content]="work" [showAuthor]="false"></dragonfish-work-card>
                    <div class="my-3.5"><!--spacer--></div>
                </ng-container>
            </div>
        </ng-template>
    </div>
</ng-container>
