
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bettafish-primary: mat-palette($mat-indigo);
$bettafish-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$bettafish-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bettafish-theme: mat-light-theme((
  color: (
    primary: $bettafish-primary,
    accent: $bettafish-accent,
    warn: $bettafish-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bettafish-theme);

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
@import './themes.scss';
@import './material.scss';
@import '~ngx-tabset/ngx-tabset.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Widths */
    --max-width: 90%;
    --max-width-mobile: 97.5%;
    --title-spacing: 5px;
    /* Text */
    --body-text: 'Inter', sans-serif;
    --header-text: 'Josefin Sans', sans-serif;
}
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    color: var(--text-color);
    margin: 0;
    box-sizing: border-box;
    font-family: var(--body-text);
    background-color: var(--background);
}
a {
    color: var(--accent);
    text-decoration: none;
    &:hover {
        color: var(--accent-dark);
        text-decoration: underline;
    }
}
button,
a.button {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px 15px;
    font-size: 16px;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 20px;
    border: 1px solid var(--borders);
    border-radius: 6px;
    box-shadow: var(--dropshadow);
    &:hover {
        color: whitesmoke;
        background: var(--accent);
        text-decoration: none;
        transition: all 0.15s ease;
    }
    i-feather {
        width: 16px !important;
        position: relative;
        top: 0.25rem;
        margin-right: 0.275rem;
    }
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--accent);
    font-weight: 300;
    font-family: var(--header-text);
}
p {
    margin: 1rem 0 1rem 0;
}
hr {
    border-bottom: 1px solid var(--borders);
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
div.empty {
    margin-top: 2.5rem;
    text-align: center;
    h3 {
        font-family: var(--header-text);
        font-weight: 300;
        font-size: 36px;
        margin-bottom: 0.5rem;
        color: var(--accent);
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
span.v-separator {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
span.h-separator {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
hr {
    border-bottom: 1px solid var(--borders);
}
div.empty {
    text-align: center;
    h3 {
        font-family: var(--header-text);
        font-weight: 300;
        font-size: 36px;
        margin-bottom: 0.5rem;
        color: var(--accent);
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
    }
}
/* Offprint Tabs */
.offprint-tabs-nav {
    justify-content: center;
    //border-bottom: 1px solid var(--borders);
    margin-bottom: 1.5rem;
}
.nav-tab {
    font-size: 18px;
    text-transform: lowercase;
    font-variant: small-caps;
    font-weight: 700;
    letter-spacing: 2px;
    &:hover {
        color: var(--accent);
        transition: all 0.15s ease;
    }
}
.nav-tabset:not(.disable-style) .nav-tab.active {
    border-bottom-width: 2px;
    border-color: var(--accent);
}
/* Doc pages */
div.doc {
    h1 {
        border-bottom: 1px solid var(--borders) !important;
    }

    h1, h2, h3 {
        color: var(--accent) !important;
        font-family: var(--header-text) !important;
        font-weight: 300 !important;
        text-align: center !important;
    }
}
/* Ngx Pagination */
pagination-controls {
    width: 100%;
    text-align: center;
    ul.ngx-pagination {
        margin-bottom: 0;
        li {
            border: 1px solid var(--borders);
            border-right: none;
            margin-right: 0;

            &:last-child {
                border-right: 1px solid var(--borders);
            }
        }
        .pagination-previous {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .pagination-next {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        li.disabled {
            color: var(--text-color);
            padding: 5px 10px;
            cursor: not-allowed;
        }
        li.current {
            padding: 5px 10px;
            color: whitesmoke;
            background-color: var(--accent);
        }
        a {
            margin: 0;
            color: var(--text-color);
            padding: 5px 10px;
            &:hover {
                background-color: var(--accent);
                color: whitesmoke;
            }
        }
    }
}

/* NgSelect */
div.offprint-select {
    margin: 0.75rem 0 0.75rem 0;
    label {
        position: relative;
        bottom: -0.2rem;
        text-transform: lowercase;
        font-variant: small-caps;
        font-size: 1rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        letter-spacing: 2px;
        border-left: 1px solid var(--borders);
    }
    .ng-select.custom {
        border: 1px solid var(--borders);
        min-height: 0px;
        border-radius: 0.375rem;
        border-top-left-radius: 0;
    }
    .ng-select.custom .ng-select-container {
        min-height: 40px;
        border-radius: 0.375rem;
        border-top-left-radius: 0;
        border: none;
        font-size: 1rem;
    }
    .ng-select.custom .ng-select-container .ng-value-container .ng-placeholder {
        color: var(--text-color);
    }
    .ng-select.custom .ng-dropdown-panel {
        background-color: var(--background);
        border: 1px solid var(--borders);
    }
    .ng-select.custom .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: var(--accent);
        color: whitesmoke;
    }
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
        background-color: var(--accent-dark);
        color: whitesmoke;
    }
    .ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
        background-color: var(--accent);
        color: whitesmoke;
    }
    .ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
        background-color: var(--accent-dark);
    }
    .ng-select.custom.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
        border-right: 1px solid var(--accent-dark);
    }
}
