/* Theming */
.crimson {
    --accent: #dd4c4f;
    --accent-light: #ea7c7c;
    --accent-dark: #933235;
    --background: #fbfbfb;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: black;
    --borders: grey;
    --code-background: #D3D3D3;
}

.dark-crimson {
    --accent: #dd4c4f;
    --accent-light: #e58e8e;
    --accent-dark: #933235;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
    --controls-background: #3A3A3A;
}

.aqua {
    --accent: #5098d6;
    --accent-light: #a2cdef;
    --accent-dark: #316399;
    --background: #fbfbfb;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: black;
    --borders: grey;
    --code-background: #D3D3D3;
}

.dark-aqua {
    --accent: #5098d6;
    --accent-light: #a2cdef;
    --accent-dark: #316399;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
}

.royal {
    --accent: #9a4eae;
    --accent-light: #bd8cca;
    --accent-dark: #643371;
    --background: #fbfbfb;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: black;
    --borders: grey;
    --code-background: #D3D3D3;
}

.dark-royal {
    --accent: #9a4eae;
    --accent-light: #643371;
    --accent-dark: #4d2757;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
}

.autumn {
    --accent: #d16d2b;
    --accent-light: #f69325;
    --accent-dark: #ac4731;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
}

.dusk-autumn {
    --accent: #d16d2b;
    --accent-light: #f69325;
    --accent-dark: #ac4731;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
}

.steel {
    --accent: #3b3f44;
    --accent-light: #8ec67b;
    --accent-dark: #3c8028;
    --background: #fbfbfb;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: black;
    --borders: grey;
    --code-background: #D3D3D3;
}

.midnight-field {
    --accent: #3c8028;
    --accent-light: #8ec67b;
    --accent-dark: #3b3f44;
    --background: #272727;
    --dropshadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color: #f5f5f5;
    --borders: #ffffff;
    --code-background: #3a3a3a;
}
