/* Theming */
.crimson {
    --accent:	        rgb(205,86,84);
    --accent-dark:	    rgb(133,56,54);
    --accent-light:	    rgb(221,142,142);
    --background:       rgb(251,251,251);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(0,0,0);
    --borders:          rgb(128,128,128);
    --code-background:  rgb(211,211,211);
}

.dark-crimson {
    --accent:	        rgb(205,86,84);
    --accent-dark:	    rgb(102,43,41);
    --accent-light:	    rgb(133,56,54);
    --background:       rgb(39,39,39);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(245,245,245);
    --borders:          rgb(255,255,255);
    --code-background:  rgb(58,58,58);
}

.aqua {
    --accent:	        rgb(98,150,209);
    --accent-dark:	    rgb(64,98,136);
    --accent-light:	    rgb(152,187,224);
    --background:       rgb(251,251,251);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(0,0,0);
    --borders:          rgb(128,128,128);
    --code-background:  rgb(211,211,211);
}

.dark-aqua {
    --accent:	        rgb(98,150,209);
    --accent-dark:	    rgb(49,75,104);
    --accent-light:	    rgb(64,98,136);
    --background:       rgb(39,39,39);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(245,245,245);
    --borders:          rgb(255,255,255);
    --code-background:  rgb(58,58,58);
}

.royal {
    --accent:	        rgb(145,82,169);
    --accent-dark:	    rgb(95,53,110);
    --accent-light:	    rgb(183,142,198);
    --background:       rgb(251,251,251);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(0,0,0);
    --borders:          rgb(128,128,128);
    --code-background:  rgb(211,211,211);
}

.dark-royal {
    --accent:	        rgb(145,82,169);
    --accent-dark:	    rgb(73,41,84);
    --accent-light:	    rgb(95,53,110);
    --background:       rgb(39,39,39);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(245,245,245);
    --borders:          rgb(255,255,255);
    --code-background:  rgb(58,58,58);
}

.autumn {
    --accent:	        rgb(204,118,60);
    --accent-dark:	    rgb(133,77,38);
    --accent-light:	    rgb(222,165,123);
    --background:       rgb(251,251,251);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(0,0,0);
    --borders:          rgb(128,128,128);
    --code-background:  rgb(211,211,211);
}

.dusk-autumn {
    --accent:	        rgb(204,118,60);
    --accent-dark:	    rgb(102,59,29);
    --accent-light:	    rgb(133,77,38);
    --background:       rgb(39,39,39);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(245,245,245);
    --borders:          rgb(255,255,255);
    --code-background:  rgb(58,58,58);
}

.field {
    --accent:	        rgb(79,126,53);
    --accent-dark:	    rgb(50,82,34);
    --accent-light:	    rgb(137,171,121);
    --background:       rgb(251,251,251);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(0,0,0);
    --borders:          rgb(128,128,128);
    --code-background:  rgb(211,211,211);
}

.midnight-field {
    --accent:	        rgb(79,126,53);
    --accent-dark:	    rgb(39,63,26);
    --accent-light:	    rgb(50,82,34);
    --background:       rgb(39,39,39);
    --dropshadow:       0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    --text-color:       rgb(245,245,245);
    --borders:          rgb(255,255,255);
    --code-background:  rgb(58,58,58);
}
