<div class="flex w-full h-screen">
    <ng-container *ngIf="!mobileMode">
        <dragonfish-pagebar>
            <header>
                <h3>Browse</h3>
                <rmx-icon name="compass-3-line"></rmx-icon>
            </header>
            <pages>
                <a [routerLink]="['/browse']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                    <span class="link-icon"><rmx-icon name="sun-line"></rmx-icon></span>
                    <span class="text">A taste of today</span>
                </a>
                <a>
                    <span class="link-icon"><rmx-icon name="gift-2-line"></rmx-icon></span>
                    <span class="text">Recommendations</span>
                </a>
                <a [routerLink]="['newest-works']" [routerLinkActive]="'active'">
                    <span class="link-icon"><rmx-icon name="newspaper-line"></rmx-icon></span>
                    <span class="text">What's new</span>
                </a>
                <a>
                    <span class="link-icon"><rmx-icon name="question-answer-line"></rmx-icon></span>
                    <span class="text">Popular this week</span>
                </a>
                <a>
                    <span class="link-icon"><rmx-icon name="hearts-line"></rmx-icon></span>
                    <span class="text">Special event category</span>
                </a>
                <h5>Following</h5>
                <a>
                    <span class="text">A random followed person</span>
                </a>
                <a>
                    <span class="text">A random followed person with a long name</span>
                </a>
                <h5>Library</h5>
                <a [routerLink]="['/my-library']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
                    <span class="link-icon"><rmx-icon name="book-open-line"></rmx-icon></span>
                    <span class="text">Prose & Poetry</span>
                </a>
                <a [routerLink]="['favorite-blogs']" [routerLinkActive]="'active'">
                    <span class="link-icon"><rmx-icon name="heart-line"></rmx-icon></span>
                    <span class="text">Favorite Blogs</span>
                </a>
                <a [routerLink]="['read-it-later']" [routerLinkActive]="'active'">
                    <span class="link-icon"><rmx-icon name="arrow-right-circle-line"></rmx-icon></span>
                    <span class="text">Read It Later</span>
                </a>
                <a [routerLink]="['finished-works']" [routerLinkActive]="'active'">
                    <span class="link-icon"><rmx-icon name="book-mark-line"></rmx-icon></span>
                    <span class="text">Finished Works</span>
                </a>
                <a [routerLink]="['reading-history']" [routerLinkActive]="'active'">
                    <span class="link-icon"><rmx-icon name="history-line"></rmx-icon></span>
                    <span class="text">Reading History</span>
                </a>
                <h5>Bookshelves</h5>
                <a>
                    <span class="link-icon"><rmx-icon name="bar-chart-fill"></rmx-icon></span>
                    <span class="text">My new favorite things</span>
                </a>
                <a>
                    <span class="link-icon"><rmx-icon name="add-box-line"></rmx-icon></span>
                    <span class="text">Add bookshelf</span>
                </a>
            </pages>
        </dragonfish-pagebar>
    </ng-container>
    <div class="w-full overflow-y-auto">
        <ng-container *ngIf="route.children.length === 0; else routerOutlet">
            <div class="w-11/12 mx-auto my-6">
                <div class="flex flex-row items-center p-2 mb-4 border-b border-gray-600 dark:border-white">
                    <h3 class="text-3xl font-medium flex-1">What's new</h3>
                    <a [routerLink]="['newest-works']" class="text-sm">See More >></a>
                </div>
                <ng-container *ngIf="loadingNew; else notLoadingNew">
                    <div class="flex flex-row items-center justify-center h-72">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-container>
                <ng-template #notLoadingNew>
                    <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-4">
                        <ng-container *ngFor="let work of newWorks">
                            <dragonfish-work-card [content]="work" [showAuthor]="true" [size]="'small'" [fullHeight]="true"></dragonfish-work-card>
                        </ng-container>
                    </div>
                </ng-template>
            </div>
        </ng-container>
        <ng-template #routerOutlet>
            <div class="w-11/12 mx-auto my-6">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </div>
</div>
