div.blogs-list-container {
    div.blogs-list-header {
        max-width: 100%;
        border-bottom: 1px solid var(--site-borders);
        margin-bottom: 4rem;
        h2 {
            display: inline-block;
            margin-bottom: 0;
        }

        div.blog-controls {
            float: right;
            box-shadow: var(--site-dropshadow);
            button.add-blog {
                float: right;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-bottom: 0;
                box-shadow: none;
                i-feather {
                    width: 16px;
                    height: 16px;
                    position: relative;
                    top: 0.3rem;
                }
            }
    
            button.blog-filter {
                float: right;
                padding-left: 1rem;
                padding-right: 1rem;
                //margin-left: 2rem;
                border-left: 0;
                border-right: 0;
                box-shadow: none;
                margin-bottom: 0;
                i-feather {
                    width: 16px;
                    height: 16px;
                }
            }
    
            form.search-blogs {
                float: right;
                margin-bottom: 0;
                //margin-left: 2rem;
    
                div.blogs-search {
                    position: relative;
                    input.search-input {
                        display: inline-block;
                        box-shadow: none;
                        border-right: 0;
                        margin-bottom: 0;
                    }
    
                    button.submit-blog-search {
                        float: right;
                        box-shadow: none;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        margin-bottom: 0;
    
                        i-feather {
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }

    div.loader {
        text-align: center;
        margin-top: 2rem;
    }

    div.blogs-list {
        max-width: 80%;
        margin: 0 auto 0 auto;

        // Testing new blog list layout
        div.blog-list {
            div.blog-item {
                position: relative;
                border: 1px solid var(--site-borders);
                box-shadow: var(--site-dropshadow);
                margin-bottom: 2rem;
                div.blog-check {
                    position: relative;
                    display: inline-block;
                    width: auto;
                    height: auto;
                    text-align: center;
                    a.check-published {
                        color: var(--site-text-color);
                        box-shadow: none;
                        display: block;
                        height: 100%;
                        width: 100%;
                        box-sizing: border-box;
                        border: none;

                        &:hover {
                            color: whitesmoke;
                            background-color: var(--site-accent);
                        }
                    }
                }

                div.divider {
                    position: relative;
                    display: inline-block;
                    border-left: 1px solid var(--site-borders);
                }

                div.blog-info {
                    position: relative;
                    display: inline-block;
                    padding: 10px;
                    h3 {
                        font-size: 28px;
                        margin-bottom: 0;
                    
                        i-feather {
                            margin-right: 2rem;
                        }
                    }

                    h4 {
                        color: var(--site-text-color);
                        display: inline-block;
                        font-size: 18px;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                
                    span {
                        margin-left: 0.25rem;
                        margin-right: 0.25rem;
                    }
                }
            }
        }

        ul.the-actual-list {
            list-style: none;

            li.blog-entry {
                position: relative;
                border: 1px solid var(--site-borders);
                padding: 10px;
                box-shadow: var(--site-dropshadow);
                margin-bottom: 2rem;

                div.check-published-box {
                    display: inline;
                    button.check-published {
                        //position: absolute;
                        box-shadow: none;
                        i-feather {
                        
                        }
                    }
                }

                div.blog-info {
                    display: inline;
                    position: relative;
                    h3 {
                        font-size: 28px;
                        margin-bottom: 0;
                    
                        i-feather {
                            margin-right: 2rem;
                        }
                    }

                    h4 {
                        color: var(--site-text-color);
                        display: inline-block;
                        font-size: 18px;
                        margin-bottom: 0;
                        margin-top: 0;
                    }
                
                    span {
                        margin-left: 0.25rem;
                        margin-right: 0.25rem;
                    }
                }

                div.blog-control-buttons {
                    //float: right;
                    display: inline;
                    box-shadow: var(--site-dropshadow);
                    button.blog-controls {
                        padding-left: 10px;
                        padding-right: 10px;
                        box-shadow: none;
                        margin-bottom: 0;
                        i-feather {
                            position: relative;
                            top: 0.5rem;
                        }
                        &:hover {
                            color: whitesmoke;
                            background-color: var(--site-accent);
                        }
                    }
                    button.mid {
                        border-left: 0;
                        border-right: 0;
                        box-shadow: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}