div.notifications-nav {
    background: var(--accent);

    button {
        margin: 0 0.25rem 0 0.25rem;

        &.active {
            background: var(--accent-light);
        }

        &:hover {
            background: var(--accent-light);
        }

        &.disabled {
            cursor: not-allowed;
            span {
                color: var(--accent-dark) !important;
            };
        }

        i-feather {
            position: relative;
            width: 1.5rem !important;
            color: white;
            margin: 0;
            top: -0.025rem;
            stroke-width: 1;
        }

        span {
            top: -0.1rem;
        }
    }

    div.toggle-group {
        button {
            margin: 0;

            &.active {
                background: var(--accent-light);
            }

            &:hover {
                background: var(--accent);
            }
        }
    }
}

div.notifications-container {
    ul.notif-list {
        width: 100%;
        margin-top: 1rem;
        margin-left: 0;
        list-style-type: none;

        li {
            text-align: left;
            width: 100%;
            margin-bottom: 0;
            border-bottom: 1px solid var(--borders);

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
