<div class="notifications-nav shadow-lg sticky top-0">
    <div class="w-11/12 mx-auto py-4 flex flex-row items-center">
        <i-feather name="bell" class="text-white relative top-0.5 mr-4"></i-feather>
        <h3 class="text-4xl text-white relative top-1.5 font-semibold">Notifications</h3>
        <div class="flex-1"><!--spacer--></div>

        <div class="toggle-group rounded-full border border-white flex flex-row">
            <ng-container *ngIf="viewRead; else viewUnread">
                <button class="border-none shadow-none rounded-full p-2.5" (click)="switchView()">
                    <span class="text-white relative">
                        Unread
                    </span>
                </button>
                <button class="border-none shadow-none rounded-full p-2.5 active">
                    <span class="text-white relative">
                        Read
                    </span>
                </button>
            </ng-container>
            <ng-template #viewUnread>
                <button class="border-none shadow-none rounded-full p-2.5 active">
                    <span class="text-white relative">
                        Unread
                    </span>
                </button>
                <button class="border-none shadow-none rounded-full p-2.5" (click)="switchView()">
                    <span class="text-white relative">
                        Read
                    </span>
                </button>
            </ng-template>
        </div>
        <div class="mx-1"><!--spacer--></div>
        <ng-container *ngIf="selectedNotifications.length === 0; else someNotifs">
            <button class="border-none shadow-none rounded-full p-2.5 disabled">
                <span class="text-white relative">
                    Mark As Read
                </span>
            </button>
        </ng-container>
        <ng-template #someNotifs>
            <button class="border-none shadow-none rounded-full p-2.5" (click)="markAsRead()">
                <span class="text-white relative">
                    Mark As Read
                </span>
            </button>
        </ng-template>
    </div>
</div>

<ng-container *ngIf="loading; else notLoading">
    <div class="flex flex-row items-center justify-center h-72">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>

<ng-template #notLoading>
    <ng-container *ngIf="unread && read; else noNotifications">
        <div class="notifications-container">
            <ng-container *ngIf="viewRead; else listUnread">
                <ul class="notif-list">
                    <ng-container *ngFor="let notif of read">
                        <li>
                            <notif-item [notif]="notif"></notif-item>
                        </li>
                    </ng-container>
                </ul>
            </ng-container>
            <ng-template #listUnread>
                <ul class="notif-list">
                    <ng-container *ngFor="let notif of unread">
                        <li>
                            <notif-item
                                [notif]="notif"
                                (onSelected)="selectNotification($event)"
                                (onDeselected)="deselectNotification($event)"
                            ></notif-item>
                        </li>
                    </ng-container>
                </ul>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #noNotifications>
        <div class="empty">
            <h3>Nothing's happened yet...</h3>
            <p>Check back when something happens</p>
        </div>
    </ng-template>
</ng-template>
