div.controls {
    background: var(--accent-light);
    top: 138px;
    @apply mb-2.5 z-30;
    button {
        box-shadow: none;
        border-radius: 0;
        border: none;
        color: white;
        &.disabled {
            color: var(--accent-dark);
            &:hover {
                cursor: not-allowed;
                color: var(--accent-dark);
            }
        }
    }
}
