div.newspost-form {
    width: 80%;
    margin: 0 auto;

    @media (max-width: 1150px) {
        width: 95%;
    }

    div.form-header {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 2rem;

        h3 {
            flex: 1;
            margin-bottom: 0;
        }

        button {
            margin-bottom: 0;
        }
    }
}