<ng-container *ngIf="viewQuery.state$ | async as state">
    <ng-container *ngIf="state.ratingsDoc; else noHist">
        <div class="relative">
            <div class="absolute left-0 flex flex-row">
                <ng-container [ngSwitch]="state.currRating">
                    <ng-container *ngSwitchCase="ratingOption.Liked">
                        <button
                            class="active border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-tr-none font-normal"
                            (click)="viewService.setNoVote(state.currContent._id)"
                        >
                            <i-feather name="thumbs-up"></i-feather>
                            <span>{{ state.likes | abbreviate }}</span>
                        </button>
                        <button
                            class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-t-none font-normal"
                            (click)="viewService.addLike(state.currContent._id)"
                        >
                            <i-feather name="thumbs-down"></i-feather>
                            <span>{{ state.dislikes | abbreviate }}</span>
                        </button>
                    </ng-container>
                    <ng-container *ngSwitchCase="ratingOption.Disliked">
                        <button
                            class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-tr-none font-normal"
                            (click)="viewService.addLike(state.currContent._id)"
                        >
                            <i-feather name="thumbs-up"></i-feather>
                            <span>{{ state.likes | abbreviate }}</span>
                        </button>
                        <button
                            class="active border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-t-none font-normal"
                            (click)="viewService.setNoVote(state.currContent._id)"
                        >
                            <i-feather name="thumbs-down"></i-feather>
                            <span>{{ state.dislikes | abbreviate }}</span>
                        </button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <button
                            class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-tr-none font-normal"
                            (click)="viewService.addLike(state.currContent._id)"
                        >
                            <i-feather name="thumbs-up"></i-feather>
                            <span>{{ state.likes | abbreviate }}</span>
                        </button>
                        <button
                            class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-t-none font-normal"
                            (click)="viewService.addDislike(state.currContent._id)"
                        >
                            <i-feather name="thumbs-down"></i-feather>
                            <span>{{ state.dislikes | abbreviate }}</span>
                        </button>
                    </ng-container>
                </ng-container>
                <button class="border-t-0 border-l-0 shadow-none px-2.5 py-1.5 rounded-bl-none rounded-t-none font-normal">
                    <i-feather name="more-vertical"></i-feather>
                </button>
            </div>
        </div>
    </ng-container>
    <ng-template #noHist>
        <div class="relative">
            <div class="absolute left-0">
                <button class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-tr-none font-normal">
                    <i-feather name="thumbs-up"></i-feather>
                    <span class="relative bottom-1.5 ml-1">{{ state.likes | abbreviate }}</span>
                </button>
                <button class="border-t-0 border-l-0 shadow-none p-1.5 rounded-b-none rounded-t-none font-normal">
                    <i-feather name="thumbs-down"></i-feather>
                    <span class="relative bottom-1.5 ml-1">{{ state.dislikes | abbreviate }}</span>
                </button>
                <button
                    class="border-t-0 border-l-0 shadow-none px-2.5 py-1.5 rounded-bl-none rounded-t-none font-normal"
                >
                    <i-feather name="more-vertical"></i-feather>
                </button>
            </div>
        </div>
    </ng-template>
</ng-container>
