div.section-container {
    width: 65%;
    margin: 4rem auto 4rem auto;

    @media (max-width: 1150px) {
        width: 90%;
    }

    div.section-selector {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 2.875rem;
        div.section-list-menu {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 8rem;
            padding-bottom: 5px;
            border: 1px solid var(--borders);
            height: 100%;
            text-transform: uppercase;
            font-size: 14px;
            &:hover {
                cursor: pointer;
                background: var(--accent);
                color: whitesmoke;

                span.icon {
                    rmx-icon {
                        color: whitesmoke;
                    }
                }
            }
            span.text {
                position: relative;
                top: 0.125rem;
                letter-spacing: 0.05em;
            }
            span.icon {
                position: relative;
                top: 0.25rem;
                margin-left: 0.5rem;
                rmx-icon {
                    position: relative;
                    stroke-width: 1;
                }
            }
        }

        button.selector {
            box-shadow: none;
            &.left {
                border-right: none;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.right {
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.disabled {
                cursor: not-allowed;
                background-color: var(--controls-background);

                &:hover {
                    background-color: var(--controls-background);
                }
            }
        }
    }

    div.section-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--borders);
        div.title {
            flex: 1;
        }
        div.section-tools {
            button.tool {
                margin-bottom: 0;
                padding-left: 5px;
                padding-right: 5px;
                rmx-icon {
                    position: relative;
                    top: 0.55rem;
                }
            }
        }
    }

    div.authors-note-box {
        max-width: 75%;
        margin: 0 auto 2rem auto;
        border: 1px solid var(--borders);
        border-radius: 4px;
        padding: 10px;

        @media (max-width: 1000px) {
            max-width: 90%;
        }

        h3 {
            font-size: 28px;
        }

        p {
            margin: 0;
        }
    }
}
