div.comment-control {
    background: var(--code-background);
    border-left: 1px solid var(--borders);
    border-right: 1px solid var(--borders);
    border-bottom: 1px solid var(--borders);
    @apply rounded-b-md;
    button {
        background: var(--background);
        &:hover {
            background: var(--accent);
        }
    }
}
