<ng-container *ngIf="portUser$ | async as portUser">
    <ng-container *ngIf="sessionQuery.currentUser$ | async as currentUser">
        <ng-container *ngIf="portUser._id !== currentUser._id">
            <div class="portfolio-toolbar flex flex-row items-center justify-center shadow-2xl z-30 relative">
                <div class="controls flex flex-row items-center">
                    <button class="control top" title="Watch">
                        <i-feather name="eye"></i-feather>
                        Watch
                    </button>
                    <button class="control mid" title="Send Friend Request">
                        <i-feather name="user-plus"></i-feather>
                        Add Friend
                    </button>
                    <button class="control bottom" title="Send Message">
                        <i-feather name="message-circle"></i-feather>
                        Send Message
                    </button>
                </div>
                <div class="mx-2"><!--spacer--></div>
                <button class="control solo" title="Report">
                    <i-feather name="flag"></i-feather>
                    Report
                </button>
            </div>
        </ng-container>
    </ng-container>
</ng-container>
