<div class="alerts-container">
    <div class="alerts-header">
        <h2>Alerts</h2>
    </div>
    <hr class="header-divider">
</div>

<div style="text-align: center; margin-top: 2rem;">
    <h3 style="margin-bottom: 0;">Pardon the dust!</h3>
    <p style="margin-top: 0; margin-bottom: 0; font-style: italic;">Looks like you came here a bit too early.</p>
    <p style="margin-top: 0; font-style: italic;">Keep an eye on the patch notes to find out when this feature will be available!</p>
</div>