<div class="collections-container">
    <div class="collections-header">
        <h2>Collections</h2>
        <div class="collections-controls">
            <button class="coll-control" (click)="openCreateCollectionModal()"><i-feather name="plus"></i-feather>Collection</button>
        </div>
    </div>

    <div class="loader" *ngIf="loading">
        <div class="lds-dual-ring"></div>
    </div>

    <ng-container *ngIf="!loading && collections.length === 0">
        <div style="text-align: center; margin-top: 2rem;">
            <h3 style="margin-bottom: 0;">You haven't created any collections yet.</h3>
            <p style="margin-top: 0; margin-bottom: 0; font-style: italic;">Why not make your first one by hitting Add Collection button?</p>
        </div>
    </ng-container>

    <ng-container *ngIf="!loading && collections.length > 0">
        <div class="collections-grid">
            <div class="collections-box" *ngFor="let collection of collections">
                <div class="coll-header">
                    <h3>{{ collection.name }}</h3>
                </div>
                <div class="coll-body">

                </div>
            </div>
        </div>
    </ng-container>
</div>