<p>Hey there!</p>

<p>Welcome to Offprint, a next-generation writing community built for authors and readers of all stripes.</p>

<p>If you signed up for an Offprint account recently, then look no further! All you have to do to activate your account is to hit the link below to finish registration.</p>

<p>If you never signed up for an account, you can safely ignore this email and we won't ever contact you again.</p>

<p>
    <a href="{{ url }}">Confirm Your Email Address</a>
</p>

<p>Catch you on the flip side!</p>

<p style="text-align: right;">—The Offprint Team</p>
