<p>Hey there!</p>

<p>We've received a request to reset the password on your Offprint account. If this was you, <a href="{{ url }}">click this link right here</a> to start that process.</p>

<p>If you requested this in error, or if you never requested this at all, you can safely ignore this email.</p>

<p>Regards.</p>

<p>—The Offprint Team</p>
