<ng-container *ngIf="viewQuery.currContent$ | async as currProse">
    <dragonfish-content-box>
        <div *ngIf="route.children.length === 0">
            <dragonfish-sections-list [sections]="$any(currProse).sections"></dragonfish-sections-list>
        </div>
    </dragonfish-content-box>
    <router-outlet></router-outlet>
    <ng-container *ngIf="route.children.length === 0">
        <dragonfish-comments
            [itemId]="currProse._id"
            [itemKind]="currProse.kind"
            [pageNum]="pageNum"
            (emitPageChange)="onPageChange($event)"
        ></dragonfish-comments>
    </ng-container>
</ng-container>
