<span *ngFor="let section of alphabeticalTags; let i = index">
    <ng-container *ngIf="i === 0; else notStart">
        |&nbsp;
        <a href="/browse/fandom-tags#{{section.letter}}">
            {{section.letter}}
        </a>
        &nbsp;|&nbsp;
    </ng-container>
    <ng-template #notStart>
        <a href="/browse/fandom-tags#{{section.letter}}">
            {{section.letter}}
        </a>
        &nbsp;|&nbsp;
    </ng-template>
</span>
<p>
<div *ngFor="let section of alphabeticalTags">
    <a id="{{section.letter}}">
        <h3 class="text-2xl text-white">{{section.letter}}</h3>
    </a>
    <div *ngFor="let tag of section.tags">
        <a
            [routerLink]="['/tag', tag._id, tag.name | slugify]"
            [innerHtml]="tag.name | safeHtml"
        ></a>
        ({{tag.taggedWorks ? tag.taggedWorks : 0}})
        <div *ngFor="let child of tag.children">
            <a
                [routerLink]="['/tag', tag._id, tag.name | slugify]"
                [innerHtml]="tag.name | safeHtml"
            ></a>
            —
            <a
                [routerLink]="['/tag', child._id, child.name | slugify]"
                [innerHtml]="child.name | safeHtml"
            ></a>
            ({{child.taggedWorks ? child.taggedWorks : 0}})
        </div>
    </div>
    <p>
</div>
