div.latest-splash {
    max-width: 70%;
    margin: 2rem auto 0 auto;
    .beatriz-splash {
        display: inline-block;
        height: auto;
        max-width: 75%;
        object-fit: cover;
    }
}

div.home-news {
    margin-top: 2.5rem;
    border-bottom: 1px solid var(--site-borders);
    div.home-news-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid var(--site-borders);

        @media (max-width: 700px) {
            padding: 0 1.5rem 0 1.5rem;
        }

        h3.header {
            font-weight: 500;
            font-size: 36px;
            margin: 0;
            flex: 1;

            @media (max-width: 700px) {
                font-size: 26px;
            }
        }

        button.see-more {
            @media (max-width: 700px) {
                display: none;
            }
        }

        button.see-more-mobile {
            display: none;
            padding: 5px 10px;

            i-feather {
                position: relative;
                top: -0.04rem;
                stroke-width: 1;
            }

            @media (max-width: 700px) {
                display: block;
            }
        }
    }

    div.post {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--site-borders);
        box-shadow: var(--site-dropshadow);
        border-radius: 4px;
        padding: 10px;

        div.post-header {
            border-bottom: 1px solid var(--site-borders);
            h4 {
                margin: 0;
                font-weight: 500;
                font-size: 24px;
            }
        }

        div.post-byline {
            margin-bottom: 1rem;
            padding-top: 3px;
            padding-bottom: 3px;
            border-bottom: 1px solid var(--site-borders);
            span.text {
                font-style: italic;

                i-feather {
                    stroke-width: 1;
                    width: 16px;
                    position: relative;
                    top: 0.25rem;
                    margin-right: 0.15rem;
                }
            }
            span.divider {
                margin-left: 0.65rem;
                margin-right: 0.5rem;
            }
        }

        div.post-body {
            flex: 1;
        }
    }

    button.carousel-button {
        position: absolute;
        padding: 5px 10px;
        margin: auto;
        z-index: 1;
        top: 0;
        bottom: 0;
        height: 100%;
        border-top: none;
        border-radius: 0;
        border-bottom: none;

        &.left {
            left: 0;
            border-left: none;
            box-shadow: 10px 0px 10px 1px rgba(0, 0, 0, 0.2);
        }

        &.right {
            right: 0;
            border-right: none;
            box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.2);
        }

        i-feather {
            display: relative;
            top: 0.65rem;
        }
    }
}
