<div class="history-item rounded-md my-2 mx-auto flex flex-row">
    <ng-container *ngIf="selected; else notSelected">
        <div
            class="check-box p-1 flex flex-col items-center justify-center rounded-l-md mr-1.5"
            (click)="deselectItem()"
        >
            <i-feather name="check-circle"></i-feather>
        </div>
    </ng-container>
    <ng-template #notSelected>
        <div
            class="check-box p-1 flex flex-col items-center justify-center rounded-l-md mr-1.5"
            (click)="selectItem()"
        >
            <i-feather name="circle"></i-feather>
        </div>
    </ng-template>
    <div class="self-center mr-1.5 py-1" *ngIf="$any(document.content).meta.coverArt">
        <img [src]="$any(document.content).meta.coverArt" />
    </div>
    <div class="work-info self-center py-0.5">
        <h4
            class="text-lg font-medium"
            [matTooltip]="$any(document.content).title"
            [matTooltipClass]="'offprint-tooltip'"
            [matTooltipDisabled]="$any(document.content).title.length < 30"
            [matTooltipShowDelay]="1000"
        >
            <a [routerLink]="goToItem()">
                {{ $any(document.content).title }}
            </a>
        </h4>
        <div class="flex flex-row items-center">
            <ng-container [ngSwitch]="$any(document.content).kind">
                <span
                    class="text-xs flex flex-row items-center"
                    *ngSwitchCase="contentKind.ProseContent"
                    [matTooltip]="'Prose'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <i-feather name="book-open"></i-feather>
                </span>
                <span
                    class="text-xs flex flex-row items-center"
                    *ngSwitchCase="contentKind.PoetryContent"
                    [matTooltip]="'Poetry'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <i-feather name="feather"></i-feather>
                </span>
                <span
                    class="text-xs flex flex-row items-center"
                    *ngSwitchCase="contentKind.BlogContent"
                    [matTooltip]="'Blog'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <i-feather name="coffee"></i-feather> Blog
                </span>
                <span
                    class="text-xs flex flex-row items-center"
                    *ngSwitchCase="contentKind.NewsContent"
                    [matTooltip]="'News'"
                    [matTooltipClass]="'offprint-tooltip'"
                >
                    <i-feather name="globe"></i-feather> News
                </span>
            </ng-container>
            <ng-container *ngIf="$any(document.content).kind === contentKind.ProseContent || $any(document.content).kind === contentKind.PoetryContent">
                <span class="text-xs">{{ $any(document.content).meta.category | fixCategories }}</span>
            </ng-container>
            <span class="mx-1 text-sm">|</span>
            <div class="text-xs">Viewed {{ document.viewedOn | localedate: 'shortDate' }}</div>
        </div>
    </div>
</div>
