<ng-container *ngIf="currPoetry$ | async as currPoetry">
    <dragonfish-content-box>
        <ng-container *ngIf="$any(currPoetry.meta).collection">
            <div *ngIf="route.children.length === 0">
                <dragonfish-sections-list [sections]="$any(currPoetry).sections" [contentBox]="true"></dragonfish-sections-list>
            </div>
        </ng-container>
    </dragonfish-content-box>
    <ng-container *ngIf="currPoetry.meta.collection; else singlePoem">
        <router-outlet></router-outlet>
    </ng-container>
    <ng-template #singlePoem>
        <div class="w-3/4 mx-auto mx-16">
            <div class="section-body" [innerHTML]="currPoetry.body | safeHtml"></div>
        </div>
    </ng-template>
    <ng-container *ngIf="route.children.length === 0">
        <dragonfish-comments
            [itemId]="currPoetry._id"
            [itemKind]="currPoetry.kind"
            [pageNum]="pageNum"
            (emitPageChange)="onPageChange($event)"
        ></dragonfish-comments>
    </ng-container>
</ng-container>
