<div class="upload-avatar-modal">
    <h1>Change Avatar</h1>
    <hr>
    <input type="file" style="display: none;" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg, image/jpg" ng2FileSelect [uploader]="uploader" #avatarInput/>
    
    <div style="text-align: center;" *ngIf="!uploading; else isUploading">
        <button (click)="avatarInput.click()">Select Avatar</button>
        <button style="margin-left: 2rem;" class="button-primary" *ngIf="croppedImage !== ''" (click)="uploadAvatar()">Upload</button>
        <button style="margin-left: 2rem;" type="button" (click)="cancel()">Cancel</button>
    </div>

    <ng-template #isUploading>
        <div class="loader" *ngIf="uploading">
            <div class="lds-dual-ring"></div>
        </div>
    </ng-template>

    <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [containWithinAspectRatio]="true"
        [aspectRatio]="4 / 4"
        [roundCropper]="true"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed()"></image-cropper>
</div>