<div class="flex flex-col pb-3.5">
    <div class="flex items-center justify-center p-4 w-full rounded-t-md" style="background: var(--accent);">
        <ng-container *ngIf="creatingNewPassword; else notCreatingYet">
            <h1 class="text-2xl font-medium text-white">Reset your password</h1>
        </ng-container>
        <ng-template #notCreatingYet>
            <h1 class="text-2xl font-medium text-white">Forgot your password?</h1>
        </ng-template>
    </div>
    <div class="py-4 flex flex-col items-center justify-center" *ngIf="!creatingNewPassword">
        <div>Enter the email you use to log in.</div>
        <div>If we find your account, we'll send you a reset code.</div>
    </div>
    <div class="w-11/12 mx-auto">
        <form [formGroup]="accountEmail" (ngSubmit)="submitEmail()" *ngIf="!creatingNewPassword">
            <dragonfish-text-field
                [type]="'email'"
                [name]="'email'"
                [label]="'Email Address'"
                [placeholder]="'somebody@example.net'"
                [formControlName]="'email'"
            ></dragonfish-text-field>
            <div class="flex items-center justify-center">
                <ng-container *ngIf="loadingRequest; else notLoadingEmailRequest">
                    <button type="button">
                        <rmx-icon name="loader-4-line" class="loading"></rmx-icon>
                        <span>Sending...</span>
                    </button>
                </ng-container>
                <ng-template #notLoadingEmailRequest>
                    <button type="submit">
                        <rmx-icon name="check-line"></rmx-icon>
                        <span>Submit</span>
                    </button>
                </ng-template>
            </div>
        </form>

        <form [formGroup]="changePassword" (ngSubmit)="submitNewPassword()" *ngIf="creatingNewPassword">
            <dragonfish-text-field
                [type]="'password'"
                [name]="'newPassword'"
                [label]="'New Password'"
                [placeholder]="'••••••••••'"
                [formControlName]="'newPassword'"
            ></dragonfish-text-field>
            <dragonfish-text-field
                [type]="'password'"
                [name]="'repeatPassword'"
                [label]="'Repeat Password'"
                [placeholder]="'••••••••••'"
                [formControlName]="'repeatPassword'"
            ></dragonfish-text-field>
            <div class="flex items-center justify-center">
                <ng-container *ngIf="loadingRequest; else notLoadingResetRequest">
                    <button type="button">
                        <rmx-icon name="loader-4-line" class="loading"></rmx-icon>
                        <span>Sending...</span>
                    </button>
                </ng-container>
                <ng-template #notLoadingResetRequest>
                    <button type="submit">
                        <rmx-icon name="check-line"></rmx-icon>
                        <span>Submit</span>
                    </button>
                </ng-template>
            </div>
        </form>
    </div>
</div>
