<div class="flex flex-col pb-3.5">
    <div class="flex items-center justify-center p-4 w-full rounded-t-md" style="background: var(--accent);">
        <h1 class="text-2xl font-medium text-white">Forgot your password?</h1>
    </div>
    <div class="py-4 flex flex-col items-center justify-center">
        <div>Enter the email you use to log in.</div>
        <div>If we find your account, we'll send you a reset code.</div>
    </div>
    <div class="w-11/12 mx-auto">
        <form [formGroup]="accountEmail">
            <dragonfish-text-field
                [type]="'email'"
                [name]="'email'"
                [label]="'Email Address'"
                [placeholder]="'somebody@example.net'"
                [formControlName]="'email'"
            ></dragonfish-text-field>
            <div class="flex items-center justify-center">
                <button type="submit">
                    <rmx-icon name="check-line"></rmx-icon>
                    <span>Submit</span>
                </button>
            </div>
        </form>
    </div>
</div>
