div.nav {
    background: var(--accent);
    color: whitesmoke;
    div.header {
        border-bottom: 1px solid whitesmoke;
    }
    h2 {
        color: whitesmoke;
    }
    a {
        width: 100%;
        color: whitesmoke;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.active {
            background: var(--accent-dark);
            border-radius: 6px;
        }
        &:hover {
            color: whitesmoke;
            background: var(--accent-dark);
            text-decoration: none;
            border-radius: 6px;
        }
        i-feather {
            stroke-width: 1;
        }
    }
}