<div class="messages-nav shadow-lg sticky top-0">
    <div class="w-11/12 mx-auto py-4 flex flex-row items-center">
        <i-feather name="message-circle" class="text-white relative top-0.5 mr-4"></i-feather>
        <h3 class="text-4xl text-white relative top-1.5 font-semibold">Messages</h3>
        <div class="flex-1"><!--spacer--></div>
    </div>
</div>

<div class="empty">
    <h3>Pardon the dust&mdash;</h3>
    <p>You came here a bit too early.</p>
    <p>Keep an eye on the patch notes to see when this feature will be available!</p>
</div>
