div.portfolio-header {
    &.no-cover {
        background: var(--accent);
    }
    &.with-cover {
        background: transparent;
    }
    background: var(--accent);
    box-shadow: var(--dropshadow);
    button.change-cover {
        background: var(--accent-dark);
        margin: 0 0.25rem 0 0.25rem;
        &:hover {
            background: var(--accent);
        }
        i-feather {
            position: relative;
            width: 1.5rem !important;
            color: white;
            margin: 0;
            top: -0.025rem;
            stroke-width: 1;
        }
    }
    img.avatar {
        width: 150px;
        height: 150px;
        border-radius: 0.375rem;
        border: 1px solid whitesmoke;
    }
    div.info-with-cover {
        @apply bg-black bg-opacity-40 rounded-md backdrop-filter backdrop-blur;
    }
    a.link {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 16px;
        font-size: 1rem;
        color: white;
        font-weight: 500;
        font-family: 'Josefin Sans', sans-serif;
        @apply rounded-md mr-0.5;
        &.end {
            @apply mr-0;
        }
        &.with-cover {
            border: 2px solid transparent;
            &.active {
                background: transparent;
                border-color: white;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
            }
            &:hover {
                transition: 0.125s;
                background: transparent;
                border-color: white;
                text-decoration: none;
                color: whitesmoke;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                @apply rounded-md;
            }
        }
        &:hover {
            transition: 0.125s;
            background: var(--accent-light);
            text-decoration: none;
            color: whitesmoke;
            @apply rounded-md;
        }
        &.active {
            background: var(--accent-light);
        }
        span.link-icon {
            display: inline-block;
            margin-right: 0.5rem;
            i-feather {
                position: relative;
                height: 18px;
                width: 18px;
                top: 0.15rem;
            }
        }
    }
}
