<ng-container *ngIf="portUser$ | async as portUser">
    <div class="sticky top-0 z-40">
        <div class="portfolio-header shadow-2xl relative z-40">
            <div class="flex flex-row items-center p-5">
                <div>
                    <img class="shadow-2xl" [alt]="'Avatar'" [src]="portUser.profile.avatar" />
                </div>
                <div class="flex-1 ml-8 flex flex-col items-start justify-center">
                    <h1 class="text-4xl font-bold text-white">{{ portUser.username }}</h1>
                    <h3 class="text-2xl italic text-white">{{ portUser.profile.bio }}</h3>
                    <div class="my-1" *ngIf="portUser.profile.bio === undefined || portUser.profile.bio === null || portUser.profile.bio === ''"><!--spacer--></div>
                    <dragonfish-role-badge [roles]="portUser.roles" [isCentered]="false"></dragonfish-role-badge>
                    <div class="relative -top-3 w-full flex flex-row">
                        <a
                            class="link"
                            [routerLink]="['/portfolio', portUser._id, portUser.username | slugify]"
                            [routerLinkActive]="'active'"
                            [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <span class="link-icon"><i-feather name="home"></i-feather></span>Home
                        </a>
                        <a
                            class="link"
                            [routerLink]="['works']"
                            [routerLinkActive]="'active'"
                        >
                            <span class="link-icon"><i-feather name="feather"></i-feather></span>Works
                        </a>
                        <a
                            class="link"
                            [routerLink]="['blog']"
                            [routerLinkActive]="'active'"
                        >
                            <span class="link-icon"><i-feather name="coffee"></i-feather></span>Blogs
                        </a>
                        <a
                            class="link"
                            [routerLink]="['collections']"
                            [routerLinkActive]="'active'"
                        >
                            <span class="link-icon"><i-feather name="bookmark"></i-feather></span>Collections
                        </a>
                        <ng-container *ngIf="currentUser$ | async as currentUser">
                            <ng-container *ngIf="currentUser._id === portUser._id">
                                <a
                                    class="link"
                                    [routerLink]="['history']"
                                    [routerLinkActive]="'active'"
                                >
                                    <span class="link-icon"><i-feather name="layers"></i-feather></span>History
                                </a>
                                <a
                                    class="link"
                                    [routerLink]="['settings']"
                                    [routerLinkActive]="'active'"
                                >
                                    <span class="link-icon"><i-feather name="settings"></i-feather></span>Settings
                                </a>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <dragonfish-portfolio-toolbar></dragonfish-portfolio-toolbar>
    </div>
    <router-outlet></router-outlet>
</ng-container>
