div.tools {
    border: 1px solid var(--site-borders);
    border-radius: 4px;
    width: 100%;
    margin: 0 auto 2rem auto;
}

div.blog-feed {
    margin: 0 auto;
    width: 100%;

    div.blog-container {
        width: 90%;
        margin: 0 auto;
        div.blog-box {
            padding: 20px;
            overflow: hidden;
            word-wrap: break-word;
            max-height: 400px;
            div.content-controls-container {
                font-size: 20px;
                text-align: right;
                a.meta {
                    margin: 0 0.5rem 0 0.5rem;
                }
            }
            div.blog-header {
                margin-bottom: 1.5rem;
                h1.header {
                    font-weight: 400;
                    margin-bottom: 0;
                }

                div.post-cat {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-top: 1px solid var(--site-borders);
                    border-bottom: 1px solid var(--site-borders);
                    padding-left: 5px;
                    padding-right: 5px;
        
                    div.info {
                        flex: 1;

                        i-feather {
                            position: relative;
                            width: 16px;
                            margin-right: 0.25rem;
                            top: 0.25rem;
                        }
                    }
        
                    div.post-tools {
                        span.comments {
                            i-feather {
                                stroke-width: 1;
                                margin-right: 0.15rem;
                            }
                        }

                        &.preview {
                            button {
                                cursor: initial;
                                &:hover {
                                    background-color: var(--site-background);
                                    color: var(--site-text-color);

                                    i-feather {
                                        color: var(--site-text-color);
                                        &.more {
                                            fill: var(--site-text-color);
                                        }
                                    }
                                }
                            }
                        }

                        button {
                            margin-bottom: 0;
                            padding: 5px 10px;
                            border-top: none;
                            border-bottom: none;
                            border-radius: 0;
                            font-size: 18px;
                            font-weight: normal;

                            span.button-text {
                                position: relative;
                                top: -0.35rem;
                            }

                            &.mid {
                                border-left: none;
                            }
        
                            &.end {
                                border-left: none;
                                border-right: none;
                            }
        
                            i-feather {
                                position: relative;
                                top: 0.1rem;
                                stroke-width: 1;
                                margin-right: 0.25rem;

                                &.more {

                                    margin-right: 0;
                                    fill: var(--site-text-color);
                                }
                            }

                            &:hover {
                                i-feather {
                                    &.more {
                                        fill: whitesmoke;
                                    }
                                }
                            }
                        }
                    }
        
                    span.divider {
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                    }
                }
            }
        }
        div.blog-footer {
            padding: 5px;
            border-top: 1px solid var(--site-borders);
            margin: 0 auto 0 auto;
            width: 95%;
            a.button {
                margin-bottom: 0;
            }
        }
    }
}