<div class="sticky top-0">
    <div class="news-feed-nav shadow-lg relative z-40">
        <div class="w-11/12 mx-auto py-4 flex flex-row items-center">
            <button class="border-none rounded-full shadow-none p-2.5" [routerLink]="['/']">
                <i-feather name="chevron-left" class="text-white relative top-0.5 mr-4"></i-feather>
            </button>
            <h3 class="text-4xl text-white relative top-1.5 font-semibold">
                All the Latest
            </h3>
            <div class="flex-1"><!--spacer--></div>
        </div>
    </div>

    <!--<div class="news-feed-toolbar flex flex-row items-center justify-center relative shadow-lg z-30">
        <button matRipple class="border-none shadow-none rounded-none"><i-feather name="filter"></i-feather>Filter</button>
    </div>-->
</div>

<ng-container *ngIf="loading; else notLoading">
    <div class="flex flex-row items-center justify-center max-h-40">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>

<ng-template #notLoading>
    <ng-container *ngIf="posts.totalDocs === 0; else hasDocs">
        <div class="empty">
            <h3>Surprisingly, there's nothing here.</h3>
            <p>Contact an admin if you think something should be here.</p>
        </div>
    </ng-container>

    <ng-template #hasDocs>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2 w-11/12 mx-auto my-8">
            <ng-container
                *ngFor="
                let post of posts.docs
                    | paginate
                        : {
                              itemsPerPage: posts.limit,
                              currentPage: pageNum,
                              totalItems: posts.totalDocs
                          }
            "
            >
                <dragonfish-news-card [post]="post"></dragonfish-news-card>
            </ng-container>
        </div>
        <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
    </ng-template>
</ng-template>
