<ng-scrollbar>
    <dragonfish-topbar></dragonfish-topbar>
    <ng-container *ngIf="tagsQuery.loading$ | async else notLoading">
        <div class="flex flex-row items-center justify-center h-72">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>

    <ng-template #notLoading>
        <ng-container *ngIf="tagsQuery.all$ | async as tags">
            <ng-container *ngIf="tags.length === 0; else notEmpty">
                <div class="empty">
                    <h3>Looks like there something missing here...</h3>
                    <p>If you think this is an error, contact your system administrator.</p>
                </div>
            </ng-container>
            <ng-template #notEmpty>
                <div class="w-11/12 mx-auto my-6">
                    <div class="text-2xl">
                        <ng-container *ngIf="tags[0].parent">
                            <a
                                [routerLink]="['/tag', tags[0].parent._id, tags[0].parent.name | slugify]"
                                [innerHtml]="tags[0].parent.name | safeHtml"
                            ></a>
                            &nbsp;— 
                        </ng-container>
                        <span [innerHtml]="tags[0].name | safeHtml"></span>
                    </div>
                    <ng-container *ngIf="tags[0].children && tags[0].children.length > 0">
                        Child Tags: 
                        <ng-container *ngFor="let child of tags[0].children; let i = index">
                            <a
                                [routerLink]="['/tag', child._id, child.name | slugify]"
                                [innerHtml]="child.name | safeHtml"
                            ></a>
                            <ng-container *ngIf="i < tags[0].children.length - 1">
                                , 
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <p>
                        <span [innerHtml]="tags[0].desc | safeHtml"></span>
                    </p>
                    <div class="grid grid-cols-3 gap-4">
                        <ng-container *ngIf="searchResults">
                            <ng-container *ngFor="let result of searchResults.docs | paginate: {itemsPerPage: searchResults.limit, currentPage: pageNum, totalItems: searchResults.totalDocs}">
                                <dragonfish-work-card [content]="result" [showAuthor]="false"></dragonfish-work-card>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
            </ng-template>
        </ng-container>
    </ng-template>
</ng-scrollbar>
