div.header {
    background: var(--accent);
    h2 {
        color: whitesmoke;
        text-transform: lowercase;
        font-variant: small-caps;
        letter-spacing: 4px;
        font-size: 24px;

        @media(max-width: 1020px) {
            @apply text-sm;
        }
    }

    img.offprint-logo {
        max-width: 20rem;
        margin: 0 auto;

        @media(max-width: 1020px) {
            max-width: 14rem;
        }
    }
    .site-version {
        @media(max-width: 1020px) {
            @apply hidden;
        }
    }
}

h2 {
    font-size: 36px;
}

img.beatriz {
    max-height: 650px;
    display: inline;
}

div.section-header {
    border-bottom: 1px solid var(--borders);
}
