<ng-container *ngIf="route.children.length === 0">
    <div class="header shadow-xl relative sticky top-0 z-40">
        <div class="w-11/12 mx-auto p-3 text-center">
            <img class="offprint-logo" src="assets/images/logo.png" alt="offprint" />
            <h2>{{ rotatingSlogan }}</h2>
            <h3 class="absolute top-0 right-0 text-white p-2">ver. {{ siteVersion }}</h3>
        </div>
    </div>

    <div class="my-6">
        <div class="section-header flex flex-row items-center p-2 mb-4 w-11/12 mx-auto">
            <h3 class="text-4xl font-medium flex-1">All the Latest</h3>
            <a [routerLink]="['news']">See More >></a>
        </div>
        <ng-container *ngIf="loadingLatest; else notLoadingLatest">
            <div class="flex flex-row items-center justify-center h-40">
                <mat-spinner></mat-spinner>
            </div>
        </ng-container>
        <ng-template #notLoadingLatest>
            <div class="grid grid-cols-3 gap-2 w-11/12 mx-auto">
                <ng-container *ngFor="let posts of latestPosts">
                    <dragonfish-news-card [post]="posts"></dragonfish-news-card>
                </ng-container>
            </div>
        </ng-template>
    </div>

    <div class="flex flex-row container md:w-11/12 mx-auto mb-8">
        <div class="w-1/2">
            <h2 style="margin-bottom: 0">Welcome to Offprint!</h2>
            <hr style="margin-top: 0" />
            <p>Hey there!</p>
            <p>
                Say hello to Offprint&mdash;a website built from the ground up to foster an engaging, friendly, and
                open community of writers and readers.
            </p>
            <p>
                The site is currently under heavy active development, so there's a lot of stuff still missing or
                even completely broken. Want to sign up?
                <a href="https://forms.gle/VBHoKhneJzg34GSA8" target="_blank" rel="noreferrer noopener">Click here</a> to add your name to the list!
            </p>
            <p>
                If you want to contribute&mdash;or just want to give us a star&mdash;check out our
                <a href="https://github.com/Figments/pulp-fiction" target="_blank" rel="noreferrer noopener">GitHub</a> repository. We also have a community
                <a href="https://discord.gg/9cnSwfn" target="_blank" rel="noreferrer noopener">Discord server</a> if you want to chat about the site, or
                writing in general. And if you want to throw some money our way, to help fund Offprint's
                development,
                <a href="https://www.patreon.com/offprintstudios?fan_landing=true" target="_blank" rel="noreferrer noopener">we have a Patreon</a>!
            </p>
            <p>With all that said, see you guys on the flip side!</p>
            <p style="text-align: right">&mdash;Offprint Studios</p>
        </div>
        <div class="w-1/2 text-center">
            <div class="flex flex-col items-center">
                <img class="beatriz" src="assets/images/Beatriz.png" alt="Beatriz">
                <span class="text-xs">Art created by Momoruuu</span>
            </div>
        </div>
    </div>
</ng-container>

<router-outlet></router-outlet>
