<div class="port-works-container">
    <div class="port-works-header">
        <h2>Works</h2>
    </div>
    <hr class="header-divider">

    <div class="loader" *ngIf="loading">
        <div class="lds-dual-ring"></div>
    </div>
    
    <div *ngIf="!loading && !worksArePresent()">
        <div style="margin-top: 2rem; text-align: center;" *ngIf="currentUserIsSame()">
            <h3 style="margin-bottom: 0;">You haven't submitted any works yet.</h3>
            <p style="margin-top: 0;">Head on over to the My Works menu on the home page to get started!</p>
        </div>
        <div style="margin-top: 2rem; text-align: center;" *ngIf="!currentUserIsSame()">
            <h3 style="margin-bottom: 0;">This user hasn't submitted any works yet.</h3>
            <p style="margin-top: 0;">Check back again later!</p>
        </div>
    </div>

    <ng-container *ngFor="let workData of portWorksData">
        <div class="work-box" *ngIf="!loading">
            <!--With cover art-->
            <div class="row" *ngIf="workData.meta.coverArt; else noCoverArt">
                <div class="three columns image-container">
                    <img class="bordered-cover-art shadow" [src]="workData.meta.coverArt" />
                </div>
                <div class="nine columns" style="margin: 2rem 0 0 0; padding-right: 2rem;">
                    <!--Work title 'n such-->
                    <div class="work-header">
                        <ng-container [ngSwitch]="workData.meta.rating">
                            <div class="rating everyone large" *ngSwitchDefault>E</div>
                            <div class="rating teen large" *ngSwitchCase="'Teen'">T</div>
                            <div class="rating mature large" *ngSwitchCase="'Mature'">M</div>
                            <div class="rating explicit large" *ngSwitchCase="'Explicit'">X</div>
                        </ng-container>
                        <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                        <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                        <div class="category-genre">
                            {{ workData.meta.category | fixCategories }}<span>//</span>
                            {{ workData.meta.genres | separateEntities:workData.meta.category }}
                            <div style="display: inline-block;" *ngIf="workData.meta.fandoms.length > 0">
                                <span>//</span>{{ workData.meta.fandoms | separateEntities }}
                            </div>
                        </div>
                    </div>

                    <!--Long description box-->
                    <div class="long-description content-box">
                        <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
                    </div>
                </div>
            </div>
            <ng-template #noCoverArt>
                <!--Work title 'n such-->
                <div class="no-cover-art-work-container">
                    <div class="work-header">
                        <ng-container [ngSwitch]="workData.meta.rating">
                            <div class="rating everyone large" *ngSwitchDefault>E</div>
                            <div class="rating teen large" *ngSwitchCase="'Teen'">T</div>
                            <div class="rating mature large" *ngSwitchCase="'Mature'">M</div>
                            <div class="rating explicit large" *ngSwitchCase="'Explicit'">X</div>
                        </ng-container>
                        <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                        <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                        <div class="category-genre">
                            {{ workData.meta.category | fixCategories }}<span>//</span>
                            {{ workData.meta.genres | separateEntities:workData.meta.category }}
                            <div style="display: inline-block;" *ngIf="workData.meta.fandoms.length > 0">
                                <span>//</span>{{ workData.meta.fandoms | separateEntities }}
                            </div>
                        </div>
                    </div>
                    <!--Long description box-->
                    <div class="long-description content-box">
                        <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
                    </div>
                </div>
            </ng-template>

            <!--Work stats-->
            <div class="work-stats">
                <i-feather name="calendar" title="Created At"></i-feather>{{ workData.createdAt | date:'shortDate' }}<span>//</span>
                <i-feather name="pen-tool" title="Words"></i-feather>{{ workData.stats.totWords | toLocaleString }}<span>//</span>
                <i-feather name="bar-chart-2" title="Views"></i-feather>{{ workData.stats.views | toLocaleString }}<span>//</span>
                <i-feather name="thumbs-up" title="Approval Rating"></i-feather>0%<span>//</span>
                {{ workData.meta.status }}
            </div>
        </div>
    </ng-container>
</div>