<div class="port-works-container">
    <div class="port-works-header">
        <h2>Works</h2>
    </div>
    <hr class="header-divider">

    <div class="loader" *ngIf="loading">
        <div class="lds-dual-ring"></div>
    </div>
    
    <div *ngIf="!loading && !worksArePresent()">
        <div style="margin-top: 2rem; text-align: center;" *ngIf="currentUserIsSame()">
            <h3 style="margin-bottom: 0;">You haven't submitted any works yet.</h3>
            <p style="margin-top: 0;">Head on over to the My Works menu on the home page to get started!</p>
        </div>
        <div style="margin-top: 2rem; text-align: center;" *ngIf="!currentUserIsSame()">
            <h3 style="margin-bottom: 0;">This user hasn't submitted any works yet.</h3>
            <p style="margin-top: 0;">Check back again later!</p>
        </div>
    </div>

    <div class="works-feed">
        <ng-container *ngFor="let work of portWorksData">
            <div class="work-container">
                <!--Header-->
                <div class="work-header">
                    <ng-container [ngSwitch]="work.meta.rating">
                        <div class="rating everyone small" *ngSwitchDefault>E</div>
                        <div class="rating teen small" *ngSwitchCase="'Teen'">T</div>
                        <div class="rating mature small" *ngSwitchCase="'Mature'">M</div>
                        <div class="rating explicit small" *ngSwitchCase="'Explicit'">X</div>                                
                    </ng-container>                            
                    <h1><a [routerLink]="['/work', work._id, work.title | slugify]">{{ work.title }}</a></h1>                            
                    <h2>by <a [routerLink]="['/portfolio', work.author._id, work.author.username | slugify]">{{ work.author.username }}</a></h2>
                    <div class="approval" title="Approval Rating">
                        <i-feather name="heart"></i-feather>{{ calcApprovalRating(work.stats.likes, work.stats.dislikes) }}%
                    </div>
                    <div class="category-genre">
                        {{ work.meta.category | fixCategories }}<span>//</span>{{ work.meta.genres | separateEntities:work.meta.category }}<ng-container *ngIf="work.meta.fandoms.length > 0"><span>//</span>{{ work.meta.fandoms | separateEntities }}</ng-container>
                    </div>                            
                </div>

                <!--Short description-->
                <div class="short-description">
                    <div *ngIf="work.meta.coverArt">
                        <img class="cover-art bordered-cover-art" [src]="work.meta.coverArt">
                    </div>
                    <div>
                        {{ work.shortDesc }}
                    </div>
                </div>

                <!--Work stats-->
                <div class="work-stats">
                    <i-feather name="bar-chart-2" title="Views"></i-feather>{{ work.stats.views | abbreviate }}<span>//</span>
                    <i-feather name="message-circle" title="Comments"></i-feather>{{ work.stats.comments | abbreviate }}<span>//</span>
                    <i-feather name="pen-tool" title="Words"></i-feather>{{ work.stats.totWords | abbreviate }}<span>//</span>
                    <i-feather name="calendar" title="Created At"></i-feather>{{ work.createdAt | date:'shortDate' }}<span>//</span>
                    {{ work.meta.status }}
                </div>
            </div>
        </ng-container>
    </div>
</div>