<div class="p-3.5 flex flex-col justify-center items-center h-96">
    <h1 class="text-3xl font-medium">Select Profile</h1>
    <span class="italic">{{ pseudQuery.numPseuds }} out of 3</span>
    <div class="flex items-center overflow-x-auto p-6">
        <ng-container *ngIf="pseudQuery.all$ | async as pseudonyms">
            <ng-container *ngIf="pseudonyms.length !== 0">
                <div class="profile-box without-border" *ngFor="let pseud of pseudonyms" (click)="selectAndClose(pseud._id)" (mouseenter)="selectPseud(pseud._id)" (mouseleave)="deselectPseud()">
                    <img [src]="pseud.profile.avatar" class="border border-gray-600 dark:border-white rounded-md mb-0.5" style="max-width: 4rem">
                    <div class="flex-1 flex flex-col items-center justify-center">
                        <span class="text-xs text-center">{{ pseud.screenName }}</span>
                        <span class="text-xs italic text-center">@{{ pseud.userTag }}</span>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="pseudQuery.numPseuds !== 3">
            <div class="profile-box" [routerLink]="['/registration/setup-pseud']">
                <span class="text-4xl font-extralight">+</span>
                <span>Add</span>
                <span>Profile</span>
            </div>
        </ng-container>
    </div>
</div>
