<div class="p-3.5 flex flex-col justify-center items-center h-96">
    <h1 class="text-3xl font-medium">Select Profile</h1>
    <ng-container *ngIf="canHaveFivePseuds(sessionQuery.currAccount.roles); else onlyThreePseuds">
        <span class="italic">{{ pseudQuery.numPseuds }} out of 5</span>
    </ng-container>
    <ng-template #onlyThreePseuds>
        <span class="italic">{{ pseudQuery.numPseuds }} out of 3. Want more? Become a VIP.</span>
    </ng-template>
    <div class="flex items-center overflow-x-auto p-6">
        <ng-container *ngIf="pseudQuery.all$ | async as pseudonyms">
            <ng-container *ngIf="pseudonyms.length !== 0">
                <div class="profile-box without-border" *ngFor="let pseud of pseudonyms">
                    <img [src]="pseud.profile.avatar" class="border border-gray-600 dark:border-white rounded-md mb-0.5" style="max-width: 4rem">
                    <div class="flex-1 flex flex-col items-center justify-center">
                        <span class="text-xs text-center">{{ pseud.screenName }}</span>
                        <span class="text-xs italic text-center">@{{ pseud.userTag }}</span>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="canHaveFivePseuds(sessionQuery.currAccount.roles); else hasOnlyThree">
            <ng-container *ngIf="pseudQuery.numPseuds !== 5">
                <div class="profile-box" [routerLink]="['/registration/setup-pseud']">
                    <span class="text-4xl font-extralight">+</span>
                    <span>Add</span>
                    <span>Profile</span>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #hasOnlyThree>
            <ng-container *ngIf="pseudQuery.numPseuds !== 3">
                <div class="profile-box" [routerLink]="['/registration/setup-pseud']">
                    <span class="text-4xl font-extralight">+</span>
                    <span>Add</span>
                    <span>Profile</span>
                </div>
            </ng-container>
        </ng-template>
    </div>
</div>
