<div class="flex flex-row items-center">
    <ng-container *ngIf="viewQuery.state$ | async as state">
        <ng-container *ngIf="state.ratingsDoc; else noHist">
            <ng-container [ngSwitch]="state.currRating">
                <ng-container *ngSwitchCase="ratingOption.Liked">
                    <button class="active border-none shadow-none rounded-full p-2.5" (click)="setNoVote(state.currContent._id)">
                        <rmx-icon name="heart-line" class="end-button"></rmx-icon>
                        <span>{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="border-none shadow-none rounded-full p-2.5" (click)="setDislike(state.currContent._id)">
                        <rmx-icon name="dislike-line" class="end-button"></rmx-icon>
                        <span>{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
                <ng-container *ngSwitchCase="ratingOption.Disliked">
                    <button class="border-none shadow-none rounded-full p-2.5" (click)="setLike(state.currContent._id)">
                        <rmx-icon name="heart-line" class="end-button"></rmx-icon>
                        <span>{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="active border-none shadow-none rounded-full p-2.5" (click)="setNoVote(state.currContent._id)">
                        <rmx-icon name="dislike-line" class="end-button"></rmx-icon>
                        <span>{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <button class="border-none shadow-none rounded-full p-2.5" (click)="setLike(state.currContent._id)">
                        <rmx-icon name="heart-line" class="end-button"></rmx-icon>
                        <span>{{ state.likes | abbreviate }}</span>
                    </button>
                    <button class="border-none shadow-none rounded-full p-2.5" (click)="setDislike(state.currContent._id)">
                        <rmx-icon name="dislike-line" class="end-button"></rmx-icon>
                        <span>{{ state.dislikes | abbreviate }}</span>
                    </button>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #noHist>
            <button class="border-none shadow-none rounded-full p-2.5">
                <rmx-icon name="heart-line" class="end-button"></rmx-icon>
                <span>{{ state.likes | abbreviate }}</span>
            </button>
            <button class="border-none shadow-none rounded-full p-2.5">
                <rmx-icon name="dislike-line" class="end-button"></rmx-icon>
                <span>{{ state.dislikes | abbreviate }}</span>
            </button>
        </ng-template>
    </ng-container>
</div>
