button {
    margin: 0 0.25rem 0 0.25rem;
    &.active {
        background: var(--accent-light);
    }
    &:hover {
        background: var(--accent-light);
    }
    rmx-icon {
        position: relative;
        width: 1.5rem !important;
        color: white;
        margin: 0;
        top: -0.025rem;
        &.end-button {
            stroke-width: 1;
        }
    }
    span {
        color: white;
        font-weight: normal;
        position: relative;
        top: 0.15rem;
        margin-left: 0.5rem;
    }
}
