<div class="latest-splash">
    <div class="row">
        <div class="six columns">            
            <app-beatriz-hero class="beatriz-splash"></app-beatriz-hero>
        </div>
        <div class="six columns">
            <h2 style="margin-bottom: 0;">Welcome to the Offprint Alpha, ver. 0.2.0!</h2>
            <hr style="margin-top: 0;">
            <p>
                Hey there!
            </p>
            <p>
                Say hello to Offprint&mdash;a website built from the ground up to foster an engaging, 
                friendly, and open community of writers and readers. 
            </p>
            <p>
                The site is currently under heavy active development, so there's a lot of stuff still 
                missing or even completely broken. 
            </p>
            <p>
                If you want to contribute&mdash;or just want to give us a star&mdash;check out our 
                <a href="https://github.com/Figments/pulp-fiction">GitHub</a> repository. We also have 
                a community <a href="https://discord.gg/9cnSwfn">Discord server</a> if you want to chat 
                about the site, or writing in general.
            </p>
            <p>
                See you guys on the flip side!
            </p>
            <p style="text-align: right;">
                &mdash;Offprint Studios
            </p>
        </div>
    </div>
</div>
