div.search-header {
    background: var(--accent-light);
    a {
        &.active {
            background: var(--accent);
        }
        &:hover {
            background: var(--accent);
        }
    }
}

i-feather {
    color: var(--accent);
    &.header {
        color: white;
    }
}
