<div class="flex" style="height: 100vh">
    <ng-container *ngIf="!mobileMode">
        <dragonfish-pagebar>
            <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                <dragonfish-text-field
                    [formControlName]="'query'"
                    [name]="'query'"
                    [type]="'text'"
                    [placeholder]="'Search...'"
                    [searchBox]="true"
                ></dragonfish-text-field>
                <button
                    class="py-1.5 px-2.5 rounded-full border-none shadow-none"
                    (click)="submitSearch()"
                >Search</button>
                <div class="offprint-select">
                    <ng-select class="custom" [formControlName]="'kind'" [searchable]="false" [placeholder]="'Select Kind(s)'">
                        <ng-option *ngFor="let kind of kindOptions | keyvalue" [value]="kind.key ">
                            {{ kind.value }}
                        </ng-option>
                    </ng-select>
                </div>
                <ng-container *ngIf="showAdvancedOptions; else simpleSearch">
                    <span (click)="toggleShowAdvancedOptions()">Hide Advanced</span>
                    <div class="advanced-options">
                        <ng-container *ngIf="searchForm.controls.kind.value !== kindOptions.User">
                            <div class="offprint-select">
                                <label>Author</label>
                            </div>
                            <dragonfish-text-field
                                [formControlName]="'author'"
                                [name]="'author'"
                                [type]="'text'"
                                [placeholder]="''"
                                [searchBox]="true"
                            ></dragonfish-text-field>
                            <div class="offprint-select">
                                <label>Category</label>
                                <ng-select class="custom" [formControlName]="'category'" [searchable]="false" [placeholder]="'Select Category'">
                                    <ng-option *ngFor="let category of categoryOptions | keyvalue" [value]="category.key">
                                        {{ category.value }}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <div class="offprint-select">
                                <label>Genre(s)</label>
                                <ng-select
                                    class="custom"
                                    [formControlName]="'genreSearchMatch'"
                                    [searchable]="false"
                                    [placeholder]="'Match Type'"
                                >
                                    <ng-option [value]="matchOptions.All">
                                        Match All
                                    </ng-option>
                                    <ng-option [value]="matchOptions.OneOrMore">
                                        Match One or More
                                    </ng-option>
                                    <ng-option [value]="matchOptions.NoOthers">
                                        Match No Other Genres
                                    </ng-option>
                                    <ng-option [value]="matchOptions.Exactly">
                                        Match Exactly
                                    </ng-option>
                                </ng-select>
                                <ng-select class="custom" [formControlName]="'genres'" [searchable]="false" [multiple]="true" [placeholder]="'Select Genre(s)'">
                                    <ng-option *ngFor="let genre of genreOptions | keyvalue" [value]="genre.key">
                                        {{ genre.value }}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <ng-container *ngIf="tagsEnabled">
                                <ng-container *ngIf="tagsQuery.all$ | async as tags">
                                    <div class="offprint-select">
                                        <label>Fandom Tag(s)</label>
                                        <ng-select
                                            class="custom"
                                            [formControlName]="'tagSearchMatch'"
                                            [searchable]="false"
                                            [placeholder]="'Match Type'"
                                            (change)="onTagSelected()"
                                        >
                                            <ng-option [value]="matchOptions.All">
                                                Match All
                                            </ng-option>
                                            <ng-option [value]="matchOptions.OneOrMore">
                                                Match One or More
                                            </ng-option>
                                            <ng-option [value]="matchOptions.NoOthers">
                                                Match No Other Tags
                                            </ng-option>
                                            <ng-option [value]="matchOptions.Exactly">
                                                Match Exactly
                                            </ng-option>
                                        </ng-select>
                                        <ng-select
                                            class="custom"
                                            [formControlName]="'tags'"
                                            [searchable]="true"
                                            [multiple]="true"
                                            dropdownPosition="bottom"
                                            [placeholder]="'Select Fandom(s)'"
                                            (change)="onTagSelected()"
                                        >
                                            <div *ngFor="let tag of tags">
                                                <ng-option [value]="tag._id">
                                                    <span class="tag-name" [innerHtml]="tag.name | safeHtml"></span>
                                                </ng-option>
                                                <div *ngFor="let child of tag.children">
                                                    <ng-option [value]="child._id">
                                                        <span class="parent-name" [innerHtml]="tag.name | safeHtml"></span>  —  <span class="tag-name" [innerHtml]="child.name | safeHtml"></span>
                                                    </ng-option>
                                                </div>
                                            </div>
                                        </ng-select>
                                        <ng-container *ngIf="showIncludeChildTags">
                                            <dragonfish-toggle [formControlName]="'includeChildTags'">
                                                Include child tags
                                            </dragonfish-toggle>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </ng-container>
                <ng-template #simpleSearch>
                    <span (click)="toggleShowAdvancedOptions()">Show Advanced</span>
                </ng-template>
            </form>
        </dragonfish-pagebar>
    </ng-container>
    <div class="w-full">
        <ng-scrollbar>
            <ng-container *ngIf="mobileMode">
                <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
                    <dragonfish-text-field
                        [formControlName]="'query'"
                        [name]="'query'"
                        [type]="'text'"
                        [placeholder]="'Search...'"
                        [searchBox]="true"
                    ></dragonfish-text-field>
                </form>
                <button
                    class="py-1.5 px-2.5 rounded-full border-none shadow-none"
                    (click)="submitSearch()"
                >Search</button>
            </ng-container>
            <div class="w-11/12 mx-auto my-6">
                <div class="search-header">
                    <div class="w-11/12 mx-auto pb-2 pt-4 flex flex-row justify-center">
                        <rmx-icon name="search-line" class="mr-4 header"></rmx-icon>
                        <h3 class="text-2xl italic text-white">Search Results</h3>
                    </div>
                </div>
                
                <ng-container *ngIf="loading; else notLoading">
                    <div class="flex flex-row items-center justify-center h-full">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-container>
                
                <ng-template #notLoading>
                    <div class="w-11/12 mx-auto my-6">
                        <span *ngIf="searchResultWorks">
                            <div class="flex flex-row py-4 items-center">
                                <rmx-icon name="book-open-line" class="relative -top-0.5 mr-2"></rmx-icon>
                                <h3 class="text-4xl font-medium">Works</h3>
                            </div>
                            <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <!--Works-->
                                <ng-container *ngFor="let work of searchResultWorks.docs | paginate: {itemsPerPage: searchResultWorks.limit, currentPage: pageNum, totalItems: searchResultWorks.totalDocs}">
                                    <dragonfish-work-card [content]="work" [showAuthor]="true"></dragonfish-work-card>
                                </ng-container>
                            </div>
                        </span>
                
                        <span *ngIf="searchResultBlogs">
                            <div class="flex flex-row py-4 items-center">
                                <rmx-icon name="cup-line" class="relative -top-0.5 mr-2"></rmx-icon>
                                <h3 class="text-4xl font-medium">Blogs</h3>
                            </div>
                            <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <!--Blogs-->
                                <ng-container *ngFor="let blog of searchResultBlogs.docs | paginate: {itemsPerPage: searchResultBlogs.limit, currentPage: pageNum, totalItems: searchResultBlogs.totalDocs}">
                                    <dragonfish-blog-card [blog]="blog" [showAuthor]="true"></dragonfish-blog-card>
                                </ng-container>
                            </div>
                        </span>
                
                        <span *ngIf="searchResultNews">
                            <div class="flex flex-row py-4 items-center">
                                <rmx-icon name="cup-line" class="relative -top-0.5 mr-2"></rmx-icon>
                                <h3 class="text-4xl font-medium">News</h3>
                            </div>
                            <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <!--News-->
                                <ng-container *ngFor="let news of searchResultNews.docs | paginate: {itemsPerPage: searchResultNews.limit, currentPage: pageNum, totalItems: searchResultNews.totalDocs}">
                                    <dragonfish-news-card [post]="news"></dragonfish-news-card>
                                </ng-container>
                            </div>
                        </span>
                
                        <span *ngIf="searchResultUsers">
                            <div class="flex flex-row py-4 items-center">
                                <rmx-icon name="group-line" class="relative -top-0.5 mr-2"></rmx-icon>
                                <h3 class="text-4xl font-medium">Users</h3>
                            </div>
                            <div class="grid 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-2">
                                <!--Users-->
                                <ng-container *ngFor="let user of searchResultUsers.docs | paginate: {itemsPerPage: searchResultUsers.limit, currentPage: pageNum, totalItems: searchResultUsers.totalDocs}">
                                    <dragonfish-user-card [user]="user"></dragonfish-user-card>
                                </ng-container>
                            </div>
                        </span>
                    </div>
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel=""></pagination-controls>
                </ng-template>
            </div>
        </ng-scrollbar>
    </div>
</div>

