name: Build Client (Dev)

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]
  repository_dispatch:
    types: [trigger-workflow-2]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
            ref: ${{ github.event.client_payload.sha }}

      - name: Setup Node.js environment
        uses: actions/setup-node@v1.4.3
        with:
          node-version: 14.6.0
           
      - name: Install global dependencies
        run: yarn global add @angular/cli @nestjs/cli nx typescript less
        
      - name: Install local dependencies
        run: yarn install
        
      - name: Build client
        run: yarn build client

      - name: Trigger Deployment to Test environment
        if: ${{ success() && github.name != 'pull_request' }}
        uses: peter-evans/repository-dispatch@v1
        with:
            token: ${{ secrets.REPO_GHA_PAT }}
            repository: ${{ github.repository }}
            event-type: trigger-workflow-3
            client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'