<div class="loader" *ngIf="loading">
    <div class="lds-dual-ring"></div>
</div>

<div class="work-box" *ngIf="!loading">
    <!--With cover art-->
    <div class="work-info">
        <div class="image-container" *ngIf="workData.meta.coverArt">
            <img class="bordered-cover-art shadow" [src]="workData.meta.coverArt" />
        </div>
        <div class="work-details">
            <div class="work-header">
                <ng-container [ngSwitch]="workData.meta.rating">
                    <div class="rating everyone large" *ngSwitchDefault>E</div>
                    <div class="rating teen large" *ngSwitchCase="'Teen'">T</div>
                    <div class="rating mature large" *ngSwitchCase="'Mature'">M</div>
                    <div class="rating explicit large" *ngSwitchCase="'Explicit'">X</div>
                </ng-container>
                <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                <div class="category-genre">
                    <div>
                        {{ workData.meta.category | fixCategories }}<span>//</span>
                    </div>
                    <div>
                        {{ workData.meta.genres | separateEntities:workData.meta.category }}
                    </div>
                    <div>
                        <ng-container *ngIf="workData.meta.fandoms.length > 0">
                            <span>//</span>{{ workData.meta.fandoms | separateEntities }}
                        </ng-container>
                    </div>
                    <div class="approval">
                        <div class="stat-block" title="Approval Rating">
                            <span class="stat-icon"><i-feather name="heart"></i-feather></span>
                            <span class="stat-number">0%</span>
                        </div>
                        <ng-container *ngIf="currentUser; else noUser">
                            <button class="control-button start" title="Like"><i-feather name="thumbs-up"></i-feather></button>
                            <button class="control-button mid dislike" title="Dislike"><i-feather name="thumbs-down"></i-feather></button>
                            <button class="control-button left" title="Add to Collection" (click)="openAddToCollections()"><i-feather name="folder-plus"></i-feather></button>
                        </ng-container>
                        <ng-template #noUser>
                            <button class="control-button start" title="Like"><i-feather name="thumbs-up"></i-feather></button>
                            <button class="control-button mid dislike" title="Dislike"><i-feather name="thumbs-down"></i-feather></button>
                            <button class="control-button left" title="Add to Collection"><i-feather name="folder-plus"></i-feather></button>
                        </ng-template>
                    </div>
                </div>
            </div>
            
            <div class="work-description content-box">
                <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
            </div>
        </div>
    </div>

    <!--Work stats and controls-->
        <div class="work-controls">
            
        </div>

    <!--Sections-->
    <ng-container *ngIf="route.children.length === 0 && workData.sections.length > 0">
        <div class="section-list" *ngIf="currentUserIsSame(); else notSameUser">
            <ul>
                <li *ngFor="let section of workData.sections; let i = index">
                    <div *ngIf="section.published === true">
                        <div class="section-box">
                            <div>
                                <button title="Unpublish" class="pub-unpub" (click)="publishSection(section._id, section.published)"><i-feather name="check-circle"></i-feather></button>
                            </div>
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, i + 1, section.title | slugify]">
                                    {{ section.title }}
                                </a>
                            </div>
                            <div>
                                <div class="section-stats">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                            <div>
                                <button title="Delete Section" class="delete-section" (click)="askDeleteSection(section._id)"><i-feather name="trash-2"></i-feather></button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="section.published === false">
                        <div class="section-box">
                            <div>
                                <button title="Publish" class="pub-unpub" (click)="publishSection(section._id, section.published)"><i-feather name="circle"></i-feather></button>
                            </div>
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, i + 1, section.title | slugify]">
                                    {{ section.title }}
                                </a>
                            </div>
                            <div>
                                <div class="section-stats">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                            <div>
                                <button title="Delete Section" class="delete-section" (click)="askDeleteSection(section._id)"><i-feather name="trash-2"></i-feather></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template #notSameUser>
            <div class="section-list">
                <ul>
                    <li *ngFor="let section of pubSections; let i = index">
                        <div class="section-box" style="padding: 10px;">
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, i + 1, section.title | slugify]">{{ section.title }}</a>
                            </div>
                            <div>
                                <div class="section-stats" style="margin-right: 2rem;">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
    </ng-container>

    <!--Work stats-->
    <div class="work-stats">
        <div class="stat-block">
            <span class="stat-number">{{ workData.meta.status }}</span>
        </div>
        <span>//</span>
        <div class="stat-block" title="Views: {{ workData.stats.views | toLocaleString }}">
            <span class="stat-icon"><i-feather name="bar-chart-2"></i-feather></span>
            <span class="stat-number">{{ workData.stats.views | abbreviate }} view{{ workData.stats.views | pluralize }}</span>
        </div>
        <span>//</span>
        <div class="stat-block" title="Comments: {{ workData.stats.comments | toLocaleString }}">
            <span class="stat-icon"><i-feather name="message-circle"></i-feather></span>
            <span class="stat-number">{{ workData.stats.comments | abbreviate }}</span>
        </div>
        <span>//</span>
        <div class="stat-block" title="Total Words: {{ workData.stats.totWords | toLocaleString }}">
            <span class="stat-icon"><i-feather name="pen-tool"></i-feather></span>
            <span class="stat-number">{{ workData.stats.totWords | abbreviate }} word{{ workData.stats.totWords | pluralize }}</span>
        </div>
        <span>//</span>
        <div class="stat-block" title="Published On">
            <span class="stat-icon"><i-feather name="calendar"></i-feather></span>
            <span class="stat-number">{{ workData.createdAt | date:'mediumDate' }}</span>
        </div>
        <span>//</span>
        <div class="stat-block">
            <span class="stat-number"><a class="work-stat-link">Report</a></span>
        </div>
    </div>
</div>

<div class="author-controls" *ngIf="currentUser && currentUserIsSame()">
    <div class="controls-start">
        <ng-container [ngSwitch]="workData.audit.published">
            <button class="control-button pub-status active" *ngSwitchCase="'Approved'"><i-feather class="submission" name="book-open"></i-feather>Approved</button>
            <button class="control-button pub-status" *ngSwitchCase="'Pending'"><i-feather class="submission" name="clock"></i-feather>Pending</button>
            <button class="control-button pub-status" (click)="submitWorkForApproval()" *ngSwitchCase="'Rejected'"><i-feather class="submission" name="x"></i-feather>Rejected</button>
            <button class="control-button pub-status" (click)="submitWorkForApproval()" *ngSwitchDefault><i-feather class="submission" name="book"></i-feather>Submit</button>
        </ng-container>
        <button class="control-button mid" title="Edit Work" (click)="openEditForm()"><i-feather name="edit-3"></i-feather></button>
        <button class="control-button mid" title="Change Cover Art" (click)="openCoverArtUpload()"><i-feather name="image"></i-feather></button>
    </div>
    <div class="controls-mid">
        <button class="control-button add-section" [routerLink]="['/work', workData._id, workData.title | slugify, 'new-section']" title="New Section"><i-feather name="plus"></i-feather>Section</button>
    </div>
    <div class="controls-end">
        <button class="control-button end" title="Delete Work" (click)="askDelete(workData._id)"><i-feather name="trash-2"></i-feather></button>
    </div>
</div>

<div *ngIf="workData">
    <router-outlet></router-outlet>
</div>