<div class="loader" *ngIf="loading">
    <div class="lds-dual-ring"></div>
</div>

<div class="work-box" *ngIf="!loading">
    <div class="row" *ngIf="workData.meta.coverart; else noCoverArt">
        <!--For coverart-->
    </div>

    <ng-template #noCoverArt>
        <div class="no-cover-art-work-container">
            <!--Work title 'n such-->
            <div class="work-header">
                <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                <div class="category-genre">
                    {{ workData.meta.category | fixCategories }}<span>//</span>{{ workData.meta.genres | separateEntities:workData.meta.category }}<div style="display: inline-block;" *ngIf="workData.meta.fandoms.length > 0"><span>//</span>{{ workData.meta.fandoms | separateEntities }}</div>
                </div>
            </div>

            <!--Long description box-->
            <div class="long-description">
                <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
            </div>

            <!--Sections-->
            <div *ngIf="route.children.length === 0 && workData.sections.length > 0">
                <div class="section-list" *ngIf="currentUserIsSame(); else notSameUser">
                    <ul>
                        <li *ngFor="let section of workData.sections">
                            <div *ngIf="section.published === true">
                                <span class="pub-unpub"><i-feather name="check-circle"></i-feather></span>
                                <span class="section-name"><a [routerLink]="['/work', workData._id, workData.title | slugify, 'section', section._id]">{{ section.title }}</a></span>
                                <span class="section-stats">{{ section.stats.words }} word{{ section.stats.words | pluralize }}</span>
                            </div>
                            <div *ngIf="section.published === false">
                                <span class="pub-unpub"><i-feather name="circle"></i-feather></span>
                                <span class="section-name"><a [routerLink]="['/work', workData._id, workData.title | slugify, 'section', section._id]">{{ section.title }}</a></span>
                                <span class="section-stats">{{ section.stats.words }} word{{ section.stats.words | pluralize }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <ng-template #notSameUser>
                    <div class="section-list">
                        <ul>
                            <li *ngFor="let section of pubSections; let i = index">
                                <span class="section-name"><a [routerLink]="['/work', workData._id, workData.title | slugify, i, section.title | slugify]"></a></span>
                                <span class="section-stats">{{ section.stats.words }} word{{ section.stats.words | pluralize}}</span>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </div>

            <!--Work stats-->
            <div class="work-stats">
                Created: {{ workData.createdAt | date:'shortDate' }}<span>//</span>{{ workData.stats.views }} view{{ workData.stats.views | pluralize }}<span>//</span>0% approval<span>//</span>{{ workData.meta.status }}<span>//</span>{{ workData.meta.rating }}
            </div>
        </div>
    </ng-template>
</div>

<div class="work-controls" *ngIf="currentUserIsSame(); else notThisUserControls">
    <span class="controls-left">
        <a class="button">New Section</a>
        <a class="button" (click)="openEditForm()">Edit</a>
    </span>
    <span class="controls-right">
        <a class="button" style="margin-right: 0;" (click)="askDelete(workData._id)">Delete</a>
    </span>
</div>

<ng-template #notThisUserControls>
    <div class="work-controls" *ngIf="currentUser && workData.audit.published === 'Approved'">
        <span class="controls-left">
            <a class="button user-button"><i-feather name="thumbs-up"></i-feather></a>
            <ng-template #alreadyLiked>
                <a class="button user-button selected"><i-feather name="thumbs-up"></i-feather></a>
            </ng-template>
            <a class="button user-button user-button-middle"><i-feather name="thumbs-down"></i-feather></a>
            <ng-template #alreadyDisliked>
                <a class="button user-button user-button-middle selected"><i-feather name="thumbs-down"></i-feather></a>
            </ng-template>
            <a class="button user-button"><i-feather name="folder-plus"></i-feather></a>
        </span>
        <span class="controls-right">
            <a class="button user-button"><i-feather name="flag"></i-feather></a>
        </span>
    </div>
</ng-template>

<router-outlet></router-outlet>