<div class="loader" *ngIf="loading">
    <div class="lds-dual-ring"></div>
</div>

<div class="work-box" *ngIf="!loading">
    <!--With cover art-->
    <div class="row" *ngIf="workData.meta.coverArt; else noCoverArt">
        <div class="three columns image-container">
            <img class="bordered-cover-art shadow" [src]="workData.meta.coverArt" />
        </div>
        <div class="nine columns" style="margin: 2rem 0 0 0; padding-right: 2rem;">
            <!--Work title 'n such-->
            <div class="work-header">
                <ng-container [ngSwitch]="workData.meta.rating">
                    <img class="rating" src="assets/icons/teenIcon.svg" *ngSwitchCase="'Teen'">
                    <img class="rating" src="assets/icons/matureIcon.svg" *ngSwitchCase="'Mature'">
                    <img class="rating" src="assets/icons/explicitIcon.svg" *ngSwitchCase="'Explicit'">
                    <img class="rating" src="assets/icons/everyoneIcon.svg" *ngSwitchDefault>
                </ng-container>
                <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                <div class="category-genre">
                    {{ workData.meta.category | fixCategories }}<span>//</span>{{ workData.meta.genres | separateEntities:workData.meta.category }}<div style="display: inline-block;" *ngIf="workData.meta.fandoms.length > 0"><span>//</span>{{ workData.meta.fandoms | separateEntities }}</div>
                </div>
            </div>

            <!--Long description box-->
            <div class="long-description content-box">
                <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
            </div>
        </div>
    </div>
    <ng-template #noCoverArt>
            <!--Work title 'n such-->
            <div style="margin-top: 2rem; padding: 0 2rem 0 2rem;">
                <div class="work-header">
                    <div style="display: inline-block;" [ngSwitch]="workData.meta.rating">
                        <img class="rating" src="assets/icons/teenIcon.svg" *ngSwitchCase="'Teen'">
                        <img class="rating" src="assets/icons/matureIcon.svg" *ngSwitchCase="'Mature'">
                        <img class="rating" src="assets/icons/explicitIcon.svg" *ngSwitchCase="'Explicit'">
                        <img class="rating" src="assets/icons/everyoneIcon.svg" *ngSwitchDefault>
                    </div>
                    <h1><a [routerLink]="['/work', workData._id, workData.title | slugify]">{{ workData.title }}</a></h1>
                    <h2>by <a [routerLink]="['/portfolio', workData.author._id, workData.author.username | slugify]">{{ workData.author.username }}</a></h2>
                    <div class="category-genre">
                        {{ workData.meta.category | fixCategories }}<span>//</span>{{ workData.meta.genres | separateEntities:workData.meta.category }}<div style="display: inline-block;" *ngIf="workData.meta.fandoms.length > 0"><span>//</span>{{ workData.meta.fandoms | separateEntities }}</div>
                    </div>
                </div>

                <!--Long description box-->
                <div class="long-description content-box">
                    <quill-view [content]="workData.longDesc" sanitize="true" format="json"></quill-view>
                </div>
            </div>
    </ng-template>

    <!--Sections-->
    <ng-container *ngIf="route.children.length === 0 && workData.sections.length > 0">
        <div class="section-list" *ngIf="currentUserIsSame(); else notSameUser">
            <ul>
                <li *ngFor="let section of workData.sections">
                    <div *ngIf="section.published === true">
                        <div class="section-box">
                            <div>
                                <button title="Unpublish" class="pub-unpub" (click)="publishSection(section._id, section.published)"><i-feather name="check-circle"></i-feather></button>
                            </div>
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, 'section', section._id]">
                                    {{ section.title }}
                                </a>
                            </div>
                            <div>
                                <div class="section-stats">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                            <div>
                                <button title="Publish" class="delete-section" (click)="askDeleteSection(section._id)"><i-feather name="trash-2"></i-feather></button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="section.published === false">
                        <div class="section-box">
                            <div>
                                <button class="pub-unpub" (click)="publishSection(section._id, section.published)"><i-feather name="circle"></i-feather></button>
                            </div>
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, 'section', section._id]">
                                    {{ section.title }}
                                </a>
                            </div>
                            <div>
                                <div class="section-stats">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                            <div>
                                <button class="delete-section" (click)="askDeleteSection(section._id)"><i-feather name="trash-2"></i-feather></button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <ng-template #notSameUser>
            <div class="section-list">
                <ul>
                    <li *ngFor="let section of pubSections; let i = index">
                        <div class="section-box" style="padding: 10px;">
                            <div style="flex: 1;">
                                <a class="section-info" [routerLink]="['/work', workData._id, workData.title | slugify, i + 1, section.title | slugify]">{{ section.title }}</a>
                            </div>
                            <div>
                                <div class="section-stats" style="margin-right: 2rem;">
                                    {{ section.stats.words | toLocaleString }} word{{ section.stats.words | pluralize }}<span>//</span>{{ section.createdAt | date:'mediumDate'}}
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>
    </ng-container>

    <!--Work stats-->
    <div class="work-stats">
        <i-feather name="calendar" title="Created At"></i-feather>{{ workData.createdAt | date:'shortDate' }}<span>//</span>
        <i-feather name="pen-tool" title="Words"></i-feather>{{ workData.stats.totWords | toLocaleString }}<span>//</span>
        <i-feather name="bar-chart-2" title="Views"></i-feather>{{ workData.stats.views | toLocaleString }}<span>//</span>
        <i-feather name="thumbs-up" title="Approval Rating"></i-feather>0%<span>//</span>
        {{ workData.meta.status }}
    </div>
</div>

<div class="work-controls" *ngIf="currentUserIsSame(); else notThisUserControls">
    <span class="controls-left">
        <button class="add-section" [routerLink]="['/work', workData._id, workData.title | slugify, 'new-section']"><i-feather class="plus-section" name="plus"></i-feather>Section</button>
        <button title="Edit Work" class="user-buttons" (click)="openEditForm()"><i-feather name="edit-3"></i-feather></button>
        <button title="Add/Change Cover Art" class="user-buttons" (click)="openCoverArtUpload()"><i-feather name="image"></i-feather></button>
        <div style="display: inline-block;" [ngSwitch]="workData.audit.published">
            <button class="user-buttons right active" *ngSwitchCase="'Approved'"><i-feather class="submission" name="book-open"></i-feather>Approved</button>
            <button class="user-buttons right" *ngSwitchCase="'Pending'"><i-feather class="submission" name="clock"></i-feather>Pending</button>
            <button class="user-buttons right" (click)="submitWorkForApproval()" *ngSwitchCase="'Rejected'"><i-feather class="submission" name="x"></i-feather>Rejected</button>
            <button class="user-buttons right" (click)="submitWorkForApproval()" *ngSwitchDefault><i-feather class="submission" name="book"></i-feather>Submit</button>
        </div>
    </span>
    <span class="controls-right">
        <button title="Delete Work" class="user-buttons delete" style="margin-right: 0;" (click)="askDelete(workData._id)"><i-feather name="trash-2"></i-feather></button>
    </span>
</div>

<ng-template #notThisUserControls>
    <div class="work-controls" *ngIf="currentUser && workData.audit.published === 'Approved'">
        <span class="controls-left">
            <a class="button user-button"><i-feather name="thumbs-up"></i-feather></a>
            <ng-template #alreadyLiked>
                <a class="button user-button selected"><i-feather name="thumbs-up"></i-feather></a>
            </ng-template>
            <a class="button user-button user-button-middle"><i-feather name="thumbs-down"></i-feather></a>
            <ng-template #alreadyDisliked>
                <a class="button user-button user-button-middle selected"><i-feather name="thumbs-down"></i-feather></a>
            </ng-template>
            <a class="button user-button"><i-feather name="folder-plus"></i-feather></a>
        </span>
        <span class="controls-right">
            <a class="button user-button"><i-feather name="flag"></i-feather></a>
        </span>
    </div>
</ng-template>

<div *ngIf="workData">
    <router-outlet></router-outlet>
</div>