<ng-container *ngIf="!mobileMode; else mobile">
    <ng-container *ngIf="showNav; else onRegistrationDesktop">
        <div class="absolute w-full h-4 z-50" *ngIf="electron.isElectron" style="-webkit-app-region: drag;"></div>
        <main class="flex flex-row h-screen">
            <dragonfish-sidebar></dragonfish-sidebar>
            <div class="flex-auto w-full h-screen">
                <router-outlet></router-outlet>
            </div>
        </main>
    </ng-container>
    <ng-template #onRegistrationDesktop>
        <router-outlet></router-outlet>
    </ng-template>
</ng-container>

<ng-template #mobile>
    <ng-container *ngIf="showNav; else onRegistrationMobile">
        <main class="w-full">
            <dragonfish-mobile-nav></dragonfish-mobile-nav>
            <router-outlet></router-outlet>
        </main>
    </ng-container>
    <ng-template #onRegistrationMobile>
        <router-outlet></router-outlet>
    </ng-template>
</ng-template>
