<ng-container *ngIf="!mobileMode; else mobile">
    <main class="flex flex-row h-screen">
        <dragonfish-sidebar></dragonfish-sidebar>
        <div class="flex-auto h-screen overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </main>
</ng-container>

<ng-template #mobile>
    <main class="flex flex-col h-screen">
        <dragonfish-mobile-nav></dragonfish-mobile-nav>
        <div class="flex-auto h-screen overflow-y-auto">
            <router-outlet></router-outlet>
        </div>
    </main>
</ng-template>
